<form data-ng-submit="page.saveInputs()" class="form" role="form">

    <article class="feature-detail">

        <div class="feature-detail-content">

            <fieldset>

                <div class="form-group">

                    <p style="color: #212121; font-size: 1em; font-style: normal;">
                        <strong>Project design completion percentage (%)</strong>
                    </p>

                    <div class="form-element">

                        <div class="search-options-radio">

                            <label for="has_majority_design_completion_false">
                                <input data-ng-model="page.modelInputs.has_majority_design_completion" type="radio" data-ng-value="false" class="form-control" id="has_majority_design_completion_false" name="has_majority_design_completion_false" />Less than 90% designed
                            </strong></label>


                            <label for="has_majority_design_completion_true">
                                <input data-ng-model="page.modelInputs.has_majority_design_completion" type="radio" data-ng-value="true" class="form-control" id="has_majority_design_completion_true" name="has_majority_design_completion_true" />Greater than 90% designed
                            </strong></label>

                        </div>

                    </div>

                </div>

                <p style="color: #616161; font-size: 0.9em; font-style: normal; margin-top: 0.5em;">
                    How far along are you with your stream restoration design at the time of entering values into FieldDoc? Do not select the percentage of design completion you anticipate at project start time. Also, if you are less than 90% designed you are required to add the “In-stream habitat” practice to your site, and you are highly encouraged to add “In-stream habitat” to sites over 90% designed. Per the expert panel report, as the inputs for enhanced stream restoration require engineered specifications, only those proposals that are at least 90% designed can use Protocols 1, 2, and 3.
                </p>

            </fieldset>

            <div data-ng-if="page.modelInputs.has_majority_design_completion === false">

                <div class="form-element">

                    <!-- <label for="override_linear_feet_in_coastal_plain" class="meta-label"><strong>
                        Linear feet in coastal plain
                    </strong></label> -->

                    <span class="meta-label">
                        <strong>Linear feet in coastal plain</strong>
                    </span>

                    <input data-ng-model="page.modelInputs.override_linear_feet_in_coastal_plain" type="number" id="override_linear_feet_in_coastal_plain" name="override_linear_feet_in_coastal_plain" class="form-control" step="0.001" data-ng-change="page.change.updateTotal()" />

                    <p style="color: #616161; font-size: 0.9em; font-style: normal; margin-top: 0.5em;">
                        linear feet
                    </p>

                </div>

                <div class="form-element">

                    <span class="meta-label">
                        <strong>Linear feet in non-coastal plain</strong>
                    </span>

                    <!-- <label for="override_linear_feet_in_noncoastal_plain" class="meta-label"><strong>
                        Linear feet in non-coastal plain
                    </strong></label> -->

                    <input data-ng-model="page.modelInputs.override_linear_feet_in_noncoastal_plain" type="number" id="override_linear_feet_in_noncoastal_plain" name="override_linear_feet_in_noncoastal_plain" class="form-control" step="0.001" data-ng-change="page.change.updateTotal()" />

                    <p style="color: #616161; font-size: 0.9em; font-style: normal; margin-top: 0.5em;">
                        linear feet
                    </p>

                </div>

            </div>

            <div data-ng-if="page.modelInputs.has_majority_design_completion === true">

                <fieldset>

                    <p style="color: #212121; font-size: 1em; font-style: normal;">
                        <strong>Protocol 2: In-stream and riparian nutrient processing credit within the hyporheic zone during base flow</strong>
                    </p>

                    <div class="form-element">

                        <label for="stream_width_at_bankfull" class="meta-label">
                            <strong>Stream width at bankfull</strong>
                        </label>

                        <input data-ng-model="page.modelInputs.stream_width_at_bankfull" class="form-control" class="form-control" type="number" id="stream_width_at_bankfull" name="stream_width_at_bankfull" step="0.0001" />

                        <p style="color: #616161; font-size: 0.9em; font-style: normal; margin-top: 0.5em;">
                            feet
                        </p>

                    </div>

                    <div class="form-element">

                        <label for="stream_width_at_mean_base_flow" class="meta-label">
                            <strong>Stream width at mean base flow</strong>
                        </label>

                        <input data-ng-model="page.modelInputs.stream_width_at_mean_base_flow" class="form-control" class="form-control" type="number" id="stream_width_at_mean_base_flow" name="stream_width_at_mean_base_flow" step="0.0001" />

                        <p style="color: #616161; font-size: 0.9em; font-style: normal; margin-top: 0.5em;">
                            feet
                        </p>

                    </div>

                    <div class="form-element">

                        <label for="length_of_left_bank_with_improved_connectivity" class="meta-label">
                            <strong>Length of left bank with improved connectivity</strong>
                        </label>

                        <input data-ng-model="page.modelInputs.length_of_left_bank_with_improved_connectivity" class="form-control" class="form-control" type="number" id="length_of_left_bank_with_improved_connectivity" name="length_of_left_bank_with_improved_connectivity" step="0.0001" />

                        <p style="color: #616161; font-size: 0.9em; font-style: normal; margin-top: 0.5em;">
                            feet
                        </p>

                    </div>

                    <div class="form-element">

                        <label for="project_left_bank_height" class="meta-label">
                            <strong>Left bank height</strong>
                        </label>

                        <input data-ng-model="page.modelInputs.project_left_bank_height" class="form-control" class="form-control" type="number" id="project_left_bank_height" name="project_left_bank_height" step="0.0001" />

                        <p style="color: #616161; font-size: 0.9em; font-style: normal; margin-top: 0.5em;">
                            feet
                        </p>

                    </div>

                    <div class="form-element">

                        <label for="left_bank_bankfull_height" class="meta-label">
                            <strong>Left bank bankfull height</strong>
                        </label>

                        <input data-ng-model="page.modelInputs.left_bank_bankfull_height" class="form-control" class="form-control" type="number" id="left_bank_bankfull_height" name="left_bank_bankfull_height" step="0.0001" />

                        <p style="color: #616161; font-size: 0.9em; font-style: normal; margin-top: 0.5em;">
                            feet
                        </p>

                    </div>

                    <div class="form-element">

                        <label for="length_of_right_bank_with_improved_connectivity" class="meta-label">
                            <strong>Length of right bank with improved connectivity</strong>
                        </label>

                        <input data-ng-model="page.modelInputs.length_of_right_bank_with_improved_connectivity" class="form-control" class="form-control" type="number" id="length_of_right_bank_with_improved_connectivity" name="length_of_right_bank_with_improved_connectivity" step="0.0001" />

                        <p style="color: #616161; font-size: 0.9em; font-style: normal; margin-top: 0.5em;">
                            feet
                        </p>

                    </div>

                    <div class="form-element">

                        <label for="project_right_bank_height" class="meta-label">
                            <strong>Right bank height</strong>
                        </label>

                        <input data-ng-model="page.modelInputs.project_right_bank_height" class="form-control" class="form-control" type="number" id="project_right_bank_height" name="project_right_bank_height" step="0.0001" />

                        <p style="color: #616161; font-size: 0.9em; font-style: normal; margin-top: 0.5em;">
                            feet
                        </p>

                    </div>

                    <div class="form-element">

                        <label for="right_bank_bankfull_height" class="meta-label">
                            <strong>Right bank bankfull height</strong>
                        </label>

                        <input data-ng-model="page.modelInputs.right_bank_bankfull_height" class="form-control" class="form-control" type="number" id="right_bank_bankfull_height" name="right_bank_bankfull_height" step="0.0001" />

                        <p style="color: #616161; font-size: 0.9em; font-style: normal; margin-top: 0.5em;">
                            feet
                        </p>

                    </div>

                    <div class="form-element">

                        <label for="bulk_density_of_soil_in_hyporheic_zone" class="meta-label">
                            <strong>Bulk density of soil in hyporheic zone</strong>
                        </label>

                        <input data-ng-model="page.modelInputs.bulk_density_of_soil_in_hyporheic_zone" class="form-control" class="form-control" type="number" id="bulk_density_of_soil_in_hyporheic_zone" name="bulk_density_of_soil_in_hyporheic_zone" step="0.0001" />

                        <p style="color: #616161; font-size: 0.9em; font-style: normal; margin-top: 0.5em;">
                            lbs/ft<sup>3</sup>
                        </p>

                    </div>

                    <div class="form-element">

                        <label for="hyporheic_box_depth" class="meta-label">
                            <strong>Hyporheic box depth in feet</strong>
                        </label>

                        <input data-ng-model="page.modelInputs.hyporheic_box_depth" class="form-control" class="form-control" type="number" id="hyporheic_box_depth" name="hyporheic_box_depth" max="5" step="0.0001" />

                        <p style="color: #616161; font-size: 0.9em; font-style: normal; margin-top: 0.5em;">
                            Maximum depth of 5 feet
                        </p>

                    </div>

                    <div class="form-element">

                        <label for="watershed_impervious_area" class="meta-label">
                            <strong>Watershed impervious area</strong>
                        </label>

                        <input data-ng-model="page.modelInputs.watershed_impervious_area" class="form-control" class="form-control" type="number" id="watershed_impervious_area" name="watershed_impervious_area" step="0.0001" />

                        <p style="color: #616161; font-size: 0.9em; font-style: normal; margin-top: 0.5em;">
                            acres
                        </p>

                    </div>

                </fieldset>

            </div>

            <div class="save--action--wrapper save--action--bottom">
                <button type="submit" data-ng-disabled="page.status.processing">
                    <i class="material-icons" data-ng-if="page.status.processing">
                        more_horiz
                    </i>
                    <i class="material-icons" data-ng-if="!page.status.processing">
                        done
                    </i>
                </button>
            </div>

        </div>

    </article>

</form>