<h2>
    Protocol 1: Prevented sediment
</h2>

<div class="flex flex-dir-row flex-align-center margin-0 margin-b-1">
    <span class="grow">
        <strong>
            Qualifying conditions
        </strong>
    </span>
    <div data-ng-click="page.displayConditions.protocol1 = !page.displayConditions.protocol1"
         data-ng-if="!page.displayConditions.protocol1"
         class="flex flex-dir-col flex-justify-center flex-align-center"
         style="flex-grow: 0; flex-shrink: 0; margin-right: -1rem;"
         title="Show more">
        <div class="halo-btn">
            <div class="halo"></div>
            <span class="material-icons">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px"
                     viewBox="0 0 24 24" width="24px" fill="#000000">
                    <path d="M0 0h24v24H0z" fill="none"/>
                    <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/>
                </svg>
            </span>
        </div>
    </div>
    <div data-ng-click="page.displayConditions.protocol1 = !page.displayConditions.protocol1"
         data-ng-if="page.displayConditions.protocol1"
         class="flex flex-dir-col flex-justify-center flex-align-center"
         style="flex-grow: 0; flex-shrink: 0; margin-right: -1rem;"
         title="Show less">
        <div class="halo-btn">
            <div class="halo"></div>
            <span class="material-icons">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px"
                     viewBox="0 0 24 24" width="24px" fill="#000000">
                    <path d="M0 0h24v24H0z" fill="none"/>
                    <path d="M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14z"/>
                </svg>
            </span>
        </div>
    </div>
</div>

<div data-ng-if="page.displayConditions.protocol1">

    <p>
        The stream reach must be greater than 100 feet in length and be still actively enlarging or degrading in
        response to upstream development or adjustment to previous disturbances in the watershed (e.g., a road crossing and
        failing dams). Most projects will be located on first- to third-order streams, but if larger fourth and fifth order streams
        are found to contribute significant and uncontrolled amounts of sediment and nutrients to downstream waters,
        consideration for this BMP would be appropriate, recognizing that multiple and/or larger scale projects may be
        needed or warranted to achieve desired watershed treatment goals.
    </p>

    <p>
        The project must utilize a comprehensive approach to stream restoration design, addressing long-term
        stability of the channel, banks, and floodplain.
    </p>

    <p>
        Special consideration is given to projects that are explicitly designed to reconnect the stream with its
        floodplain or create wetlands and instream habitat features known to promote nutrient uptake or denitrification.
    </p>

    <p>
        Each project must comply with all state and federal permitting requirements, including 404 and 401 permits,
        which may contain conditions for pre-project assessment and data collection, as well as post-construction monitoring.
    </p>

    <p>
        Stream restoration is a carefully designed intervention to improve the hydrologic, hydraulic, geomorphic,
        water quality, and biological condition of degraded urban streams, and must not be implemented for the sole purpose of
        nutrient or sediment reduction.
    </p>

    <p>
        There may be instances where limited bank stabilization is needed to protect critical public infrastructure,
        which may need to be mitigated and does not qualify for any sediment or reduction credits.
    </p>

    <p>
        A qualifying project must meet certain presumptive criteria to ensure that high functioning portions of the
        urban stream corridor are not used for in-stream stormwater treatment (i.e., where existing stream quality is still good).
        These may include one or more of the following:
    </p>

    <ul>
        <li>
            Geomorphic evidence of active stream degradation (i.e., BEHI score)
        </li>
        <li>
            An IBI of fair or worse
        </li>
        <li>
            Hydrologic evidence of floodplain disconnection
        </li>
        <li>
            Evidence of significant depth of legacy sediment in the project reach
        </li>
    </ul>

</div>

<div class="pad-1"
     style="display: flex; flex-flow: row nowrap; align-items: center; border-radius: 0.5rem; background: #E0E0E0;"
     data-ng-click="page.modelInputs.conditions.protocol1 = !page.modelInputs.conditions.protocol1">
    <div>
        This project meets all qualifying conditions for protocol 1
    </div>
    <div class="margin-l-1"
         style="opacity: 0;">
        <span class="material-icons">
            check_circle
        </span>
    </div>
</div>

<form id="protocol-1"
      data-ng-submit="page.saveInputs('prevented_sediment')"
      data-ng-if="page.modelInputs.conditions.protocol1 && !page.modelInputs.conditions.protocol5"
      class="form"
      role="form">

    <article class="feature-detail">

        <div class="feature-detail-content">

            <div>

                <p>
                    <strong>
                        Estimate stream sediment erosion rates and annual sediment loadings.
                    </strong>
                </p>

                <fieldset>

                    <div class="form-element">

                        <label for="bulk_density_of_soil" class="meta-label">
                            <strong>Bulk density of soil (lbs/ft<sup>3</sup>)</strong>
                        </label>

                        <input type="number" class="form-control" data-ng-model="page.modelInputs.bulk_density_of_soil"
                               id="bulk_density_of_soil" name="bulk_density_of_soil" placeholder=""/>

                    </div>

                    <div class="form-element">

                        <label for="bank_erosion_rate" class="meta-label">
                            <strong>Bank erosion rate (ft/year)</strong>
                        </label>

                        <input type="number" class="form-control" data-ng-model="page.modelInputs.bank_erosion_rate"
                               id="bank_erosion_rate" name="bank_erosion_rate" placeholder=""/>

                    </div>

                    <div class="form-element">

                        <label for="eroding_bank_area" class="meta-label">
                            <strong>Eroding bank area (ft<sup>2</sup>)</strong>
                        </label>

                        <input type="number" class="form-control" data-ng-model="page.modelInputs.eroding_bank_area"
                               id="eroding_bank_area" name="eroding_bank_area" placeholder="&hellip;"/>

                    </div>

                </fieldset>

                <div class="save--action--wrapper save--action--bottom">
                    <button type="submit" data-ng-disabled="page.status.processing">
                        <i class="material-icons" data-ng-if="page.status.processing">
                            more_horiz
                        </i>
                        <i class="material-icons" data-ng-if="!page.status.processing">
                            done
                        </i>
                    </button>
                </div>

            </div>

        </div>

    </article>

</form>

<h2>
    Protocol 2: Denitrification in the hyporheic zone
</h2>

<div class="flex flex-dir-row flex-align-center margin-0 margin-b-1">
    <span class="grow">
        <strong>
            Qualifying conditions
        </strong>
    </span>
    <div data-ng-click="page.displayConditions.protocol2 = !page.displayConditions.protocol2"
         data-ng-if="!page.displayConditions.protocol2"
         class="flex flex-dir-col flex-justify-center flex-align-center"
         style="flex-grow: 0; flex-shrink: 0; margin-right: -1rem;"
         title="Show more">
        <div class="halo-btn">
            <div class="halo"></div>
            <span class="material-icons">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px"
                     viewBox="0 0 24 24" width="24px" fill="#000000">
                    <path d="M0 0h24v24H0z" fill="none"/>
                    <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/>
                </svg>
            </span>
        </div>
    </div>
    <div data-ng-click="page.displayConditions.protocol2 = !page.displayConditions.protocol2"
         data-ng-if="page.displayConditions.protocol2"
         class="flex flex-dir-col flex-justify-center flex-align-center"
         style="flex-grow: 0; flex-shrink: 0; margin-right: -1rem;"
         title="Show less">
        <div class="halo-btn">
            <div class="halo"></div>
            <span class="material-icons">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px"
                     viewBox="0 0 24 24" width="24px" fill="#000000">
                    <path d="M0 0h24v24H0z" fill="none"/>
                    <path d="M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14z"/>
                </svg>
            </span>
        </div>
    </div>
</div>

<div data-ng-if="page.displayConditions.protocol2">

    <p>
        Project must meet applicable floodplain management requirements in the stream corridor. Any individual stream
        restoration project should be assessed with hydrologic and hydraulic models to demonstrate whether it increases
        water surface elevations or has adverse downstream flooding impacts. In general, these analyses are based on design
        storm events and flood risk conditions established by the appropriate local or state floodplain management agency
        (e. g., the 100-year storm event).
    </p>

    <p>
        Project must evaluate the duration of floodplain ponding in the context of the restoration goals. Micro pools and
        long-duration ponding of water on the floodplain is essential for amphibian habitat, but large open water features
        may adversely impact the desired riparian vegetative community. In evaluating a potential restoration site and
        design, consider the potential adverse effects of extended open water ponding based on the soil characteristics,
        plant community, amphibian and other aquatic habitat goals.
    </p>

    <p>
        Project must demonstrate consideration of potential unintended consequences of the restoration. The project should
        document that a site impairment exists and that the interventions or restoration work proposed are appropriate to
        address the impairment. The proposed design should demonstrate that a positive ecological functional uplift (or
        change) for the stream and associated riparian system will result.
    </p>

    <p>
        Project must demonstrate that it either provides, or is tied into existing upstream and downstream grade controls to
        ensure the project reach can maintain the intended stream access to the floodplain.
    </p>

    <p>
        Project must clearly define the boundary of the effective hyporheic zone. For Floodplain Restoration and Raising the
        Streambed projects the effective hyporheic zone is a maximum of 18 inches deep in the floodplain soil profile, and
        extends only to those areas that are regularly inundated after the streambed is raised. The actual dimensions must
        be confirmed by site investigations that define stream flow conditions, root zones, aquifer conditions and the
        pre-project water table conditions.
    </p>

    <p>
        Project must demonstrate that baseflow conditions are not reduced as a result of the restoration (ex. change from
        perennial to seasonal intermittent flow).
    </p>

    <p>
        Presence of legacy sediment deposits or other floodplain impairment. Legacy sediments must be present in the project
        reach to a depth that has impaired aquatic ecosystem function. Legacy sediment includes any deposits that have
        occurred since European settlement, including very recent sediment deposits, often created by features such as mill
        dams, road embankments, floodplain fill and other kinds of stream corridor impairment.
    </p>

    <p>
        Floodplain connection to valley bottom aquifer. The design objective is to restore a plant/groundwater connection
        within the floodplain, so that most of the root mass of the floodplain vegetation is in direct contact with the
        underlying hyporheic aquifer. In cases where the historic hyporheic aquifer cannot be accessed due to modern
        controls (i.e., culverts or utility crossings), the objective is to plug the flow of the underlying aquifer so as to
        create a new hyporheic zone using cobbles, gravel and/or sandy materials.
    </p>

    <p>
        Defined boundaries for the channel(s), floodplain and valley bottom. The restored channel and floodplain dimensions
        are based on field testing that define the key vertical and lateral sediment boundaries of the existing floodplain
        and the hyporheic aquifer beneath it.
    </p>

    <p>
        Removal of legacy sediments is the primary means to restore floodplain reconnection at most sites.
    </p>

    <p>
        Meet applicable floodplain management requirements in the stream corridor. Any individual stream restoration project
        should be assessed with hydrologic and hydraulic models to demonstrate whether it increases water surface elevations
        or adverse downstream flooding impacts. In general, these analyses are based on design storm events and flood risk
        conditions established by the appropriate local or state floodplain management agency (e.g., the 100-year storm
        event).
    </p>

</div>

<div class="pad-1"
     style="display: flex; flex-flow: row nowrap; align-items: center; border-radius: 0.5rem; background: #E0E0E0;"
     data-ng-click="page.modelInputs.conditions.protocol2 = !page.modelInputs.conditions.protocol2">
    <div>
        This project meets all qualifying conditions for protocol 2
    </div>
    <div class="margin-l-1"
         style="opacity: 0;">
        <span class="material-icons">
            check_circle
        </span>
    </div>
</div>

<form id="protocol-2"
      data-ng-submit="page.saveInputs('denitrification')"
      data-ng-if="page.modelInputs.conditions.protocol2"
      class="form"
      role="form">

    <article class="feature-detail">

        <div class="feature-detail-content">

            <div>

                <p>
                    <strong>
                        Define the effective hyporheic zone and apply the denitrification rate.
                    </strong>
                </p>

                <fieldset>

                    <div class="form-element">

                        <label for="floodplain_sq_ft" class="meta-label">
                            <strong>Floodplain area (ft<sup>2</sup>)</strong>
                        </label>

                        <input type="number" class="form-control" data-ng-model="page.modelInputs.floodplain_sq_ft"
                               id="floodplain_sq_ft" name="floodplain_sq_ft" placeholder=""/>

                    </div>

                    <div class="form-element">

                        <label for="channel_sq_ft" class="meta-label">
                            <strong>Channel area (ft<sup>2</sup>)</strong>
                        </label>

                        <input type="number" class="form-control" data-ng-model="page.modelInputs.channel_sq_ft"
                               id="channel_sq_ft" name="channel_sq_ft" placeholder=""/>

                    </div>

                </fieldset>

                <p>
                    <strong>
                        Enter the site specific discount factors using the table below.
                    </strong>
                </p>

                <div class="table-view margin-t-2" style="overflow: auto;">

                    <table style="font-size: 0.9rem;">
                        <thead>
                            <tr>
                                <th colspan="6" class="pad-50p">
                                    Site specific discount factors for adjusting the denitrification rate
                                    (Parola et al, 2019)
                                </th>
                            </tr>
                            <tr>
                                <th colspan="6" class="pad-50p">
                                    <em>Effective hyporheic zone N credit = (base rate) (EHZ)
                                        (B<sub>f</sub>) (H<sub>f</sub>) (A<sub>f</sub>)</em>
                                </th>
                            <tr style="background: #EEEEEE;">
                                <th colspan="2" class="pad-50p">
                                    Baseflow reduction factor (B<sub>f</sub>)
                                </th>
                                <th colspan="2" class="pad-50p">
                                    Floodplain height factor (H<sub>f</sub>)<sup>1</sup>
                                </th>
                                <th colspan="2" class="pad-50p">
                                    Aquifer conductivity reduction factor (A<sub>f</sub>)<sup>2</sup>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="pad-50p">
                                    Perennial baseflow
                                </td>
                                <td class="pad-50p" style="background: #F5F5F5;">
                                    1.0
                                </td>
                                <td class="pad-50p">
                                    0 - 0.75 ft
                                </td>
                                <td class="pad-50p" style="background: #F5F5F5;">
                                    1.0
                                </td>
                                <td class="pad-50p">
                                    cobbly gravel, gravel, gravelly sand, sand and peat
                                </td>
                                <td class="pad-50p" style="background: #F5F5F5;">
                                    1.0
                                </td>
                            </tr>
                            <tr>
                                <td class="pad-50p">
                                    Baseflow in all but late summer/fall
                                </td>
                                <td class="pad-50p" style="background: #F5F5F5;">
                                    0.75
                                </td>
                                <td class="pad-50p">
                                    0.76 ft - 1.00 ft
                                </td>
                                <td class="pad-50p" style="background: #F5F5F5;">
                                    0.75
                                </td>
                                <td class="pad-50p">
                                    gravelly silt, silty sand or loamy sand, sandy loam, and organic silt with no coarse material layer connected to the streambed
                                </td>
                                <td class="pad-50p" style="background: #F5F5F5;">
                                    0.60
                                </td>
                            </tr>
                            <tr>
                                <td class="pad-50p">
                                    Baseflow in winter/spring
                                </td>
                                <td class="pad-50p" style="background: #F5F5F5;">
                                    0.50
                                </td>
                                <td class="pad-50p">
                                    1.01 ft - 1.25 ft
                                </td>
                                <td class="pad-50p" style="background: #F5F5F5;">
                                    0.50
                                </td>
                                <td class="pad-50p">
                                    clayey gravel, sandy silt, sandy clay loam, loam, silt loam, and silt with no coarse material layer connected to the streambed
                                </td>
                                <td class="pad-50p" style="background: #F5F5F5;">
                                    0.40
                                </td>
                            </tr>
                            <tr>
                                <td class="pad-50p">
                                    Baseflow only during wet seasons
                                </td>
                                <td class="pad-50p" style="background: #F5F5F5;">
                                    0.25
                                </td>
                                <td class="pad-50p">
                                    1.26 ft - 1.50 ft
                                </td>
                                <td class="pad-50p" style="background: #F5F5F5;">
                                    0.10
                                </td>
                                <td class="pad-50p">
                                    sandy clay, clay loam, silty clay loam, organic clay with no coarse material layer connected to the streambed
                                </td>
                                <td class="pad-50p" style="background: #F5F5F5;">
                                    0.10
                                </td>
                            </tr>
                            <tr>
                                <td class="pad-50p">
                                    Flow only during runoff events
                                </td>
                                <td class="pad-50p" style="background: #F5F5F5;">
                                    0.10
                                </td>
                                <td class="pad-50p">
                                    > 1.50 ft
                                </td>
                                <td class="pad-50p" style="background: #F5F5F5;">
                                    0.00
                                </td>
                                <td class="pad-50p">
                                    silty clay and clay with no coarse material layer connected to the streambed
                                </td>
                                <td class="pad-50p" style="background: #F5F5F5;">
                                    0.01
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                
                <div>
                    <p class="pad-50p margin-0" style="font-size: 0.875rem;">
                        <sup>1</sup> The floodplain height factor is determined by the restored floodplain
                        height (Hf) above the streambed riffle elevations or low flow water surface elevations.
                        Additional streambed feature elevations, like those at a run in sand bed channels or
                        streambeds comprised of silty clay, also may be used to determine the restored
                        floodplain height. Low base-flow (lowest 10% of flows) could also be used as a
                        suitable alternative.
                    </p>
                </div>
                <div>
                    <p class="pad-50p margin-0" style="font-size: 0.875rem;">
                        <sup>2</sup> This refers to an aquifer capacity factor based on the dominant materials
                        within the streambed and below the floodplain soil of the EHZ. Where coarse grain
                        aquifer layers are not directly connected to the channel, the factor should be
                        determined based on the soil texture at the elevation of the streambed using NRCS
                        standard texture classifications (Schoeneberger, et al, 2012).
                    </p>
                </div>
                <div>
                    <p class="pad-50p margin-0" style="font-size: 0.875rem;">
                        "Base rate" is the mean areal floodplain denitrification rate (lbs/sq foot/yr),
                        as recommended by Group 4.
                    </p>
                </div>

                <fieldset>

                    <div class="form-element">

                        <label for="brf" class="meta-label">
                            <strong>Baseflow reduction factor (B<sub>f</sub>)</strong>
                        </label>

                        <input type="number" class="form-control" data-ng-model="page.modelInputs.brf"
                               id="brf" name="brf" placeholder=""/>

                    </div>

                    <div class="form-element">

                        <label for="fhf" class="meta-label">
                            <strong>Floodplain height factor (H<sub>f</sub>)</strong>
                        </label>

                        <input type="number" class="form-control" data-ng-model="page.modelInputs.fhf"
                               id="fhf" name="fhf" placeholder=""/>

                    </div>

                    <div class="form-element">

                        <label for="acrf" class="meta-label">
                            <strong>Aquifer conductivity reduction factor (A<sub>f</sub>)</strong>
                        </label>

                        <input type="number" class="form-control" data-ng-model="page.modelInputs.acrf"
                               id="acrf" name="acrf" placeholder=""/>

                    </div>

                </fieldset>

                <div class="save--action--wrapper save--action--bottom">
                    <button type="submit" data-ng-disabled="page.status.processing">
                        <i class="material-icons" data-ng-if="page.status.processing">
                            more_horiz
                        </i>
                        <i class="material-icons" data-ng-if="!page.status.processing">
                            done
                        </i>
                    </button>
                </div>

            </div>

        </div>

    </article>

</form>

<h2>
    Protocol 5: Outfall and gully stabilization
</h2>

<div class="flex flex-dir-row flex-align-center margin-0 margin-b-1">
    <span class="grow">
        <strong>
            Qualifying conditions
        </strong>
    </span>
    <div data-ng-click="page.displayConditions.protocol5 = !page.displayConditions.protocol5"
         data-ng-if="!page.displayConditions.protocol5"
         class="flex flex-dir-col flex-justify-center flex-align-center"
         style="flex-grow: 0; flex-shrink: 0; margin-right: -1rem;"
         title="Show more">
        <div class="halo-btn">
            <div class="halo"></div>
            <span class="material-icons">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px"
                     viewBox="0 0 24 24" width="24px" fill="#000000">
                    <path d="M0 0h24v24H0z" fill="none"/>
                    <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/>
                </svg>
            </span>
        </div>
    </div>
    <div data-ng-click="page.displayConditions.protocol5 = !page.displayConditions.protocol5"
         data-ng-if="page.displayConditions.protocol5"
         class="flex flex-dir-col flex-justify-center flex-align-center"
         style="flex-grow: 0; flex-shrink: 0; margin-right: -1rem;"
         title="Show less">
        <div class="halo-btn">
            <div class="halo"></div>
            <span class="material-icons">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px"
                     viewBox="0 0 24 24" width="24px" fill="#000000">
                    <path d="M0 0h24v24H0z" fill="none"/>
                    <path d="M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14z"/>
                </svg>
            </span>
        </div>
    </div>
</div>

<div data-ng-if="page.displayConditions.protocol5">

    <p>
        The channel or gully slope below the source must exhibit predictive indicators for severe erosion or hill-slope
        failure and must be observed to be actively enlarging or degrading.
    </p>

    <p>
        The project should utilize a comprehensive approach to stream channel design, addressing longterm stability and
        resiliency of the channel, banks, and floodplain.
    </p>

    <p>
        Each project must comply with all state and federal permitting requirements, including 404 and 401 permits, which
        usually contain conditions for pre-and post-project assessment and post construction monitoring.
    </p>

    <p>
        Projects need to meet post-construction stability criteria and successfully establish needed vegetation. Projects
        should maintain or improve existing native riparian vegetation in the headwater stream corridor to the extent
        possible. Projects should follow regulatory agency guidance regarding compensation for any losses of forest,
        wetlands and sensitive habitats within project work areas.
    </p>

    <p>
        Projects should avoid the use of pipe extensions or drop structures unless it can be demonstrated that they are
        needed to sustain channel stability and they do not introduce new aquatic organism passage issues.
    </p>

    <p>
        The project should provide functional lift within the project reach, typically as indicated by improvements of
        Levels 2 (Hydraulics) and when possible 3 (Geomorphology) of the stream functions pyramid (Harman et al , 2011).
    </p>

    <p>
        The project directly addresses a headcut, with severe vertical incision (progressive bedlowering).
    </p>

    <p>
        The project MUST NOT introduce barriers or challenges to aquatic organism passage or degrade instream habitat.
        Projects should always seek to improve passage of aquatic organisms and aquatic habitat where possible.
    </p>

    <p>
        Drop structures, extension of an existing storm drain pipes, stormwater collection features, and scour protection or
        other hard armoring techniques used in OGSPs are not eligible for credit in perennial or intermittent channels.
    </p>

</div>

<div class="pad-1"
     style="display: flex; flex-flow: row nowrap; align-items: center; border-radius: 0.5rem; background: #E0E0E0;"
     data-ng-click="page.modelInputs.conditions.protocol5 = !page.modelInputs.conditions.protocol5">
    <div>
        This project meets all qualifying conditions for protocol 5
    </div>
    <div class="margin-l-1"
         style="opacity: 0;">
        <span class="material-icons">
            check_circle
        </span>
    </div>
</div>

<form id="protocol-5"
      data-ng-submit="page.saveInputs('outfall_and_gully_stabilization')"
      data-ng-if="page.modelInputs.conditions.protocol5 && !page.modelInputs.conditions.protocol1"
      class="form"
      role="form">

    <article class="feature-detail">

        <div class="feature-detail-content">

            <div>

                <p>
                    <strong>
                        Calculate the existing and equilibrium channel conditions
                    </strong>
                </p>

                <p>
                    Calculate the total prevented sediment by inputting the following information into a 3-D surface
                    modeling program such as InRoads or Geopak.
                </p>

                <ul>

                    <li>
                        Length of proposed project reach (ft)
                    </li>

                    <li>
                        Channel slope (ft/ft)
                    </li>

                    <li>
                        Bank height (ft)

                    </li>

                    <li>
                        Bottom width (ft)
                    </li>

                    <li>
                        Top width (ft)
                    </li>

                    <li>
                        Bulk density (lbs/ft<sup>3</sup>)
                    </li>

                    <li>
                        Base level control
                    </li>

                    <li>
                        Equilibrium bed slope (ft/ft)
                    </li>

                    <li>
                        Equilibrium bank slope (ft/ft)
                    </li>

                    <li>
                        Future channel width (ft)
                    </li>

                </ul>

                <div class="form-element">

                    <label for="total_prevented_sediment" class="meta-label">
                        <strong>Total prevented sediment</strong>
                    </label>

                    <input type="number" class="form-control"
                           data-ng-model="page.modelInputs.total_prevented_sediment"
                           id="total_prevented_sediment" name="total_prevented_sediment" placeholder=""/>

                </div>

                <div class="save--action--wrapper save--action--bottom">
                    <button type="submit" data-ng-disabled="page.status.processing">
                        <i class="material-icons" data-ng-if="page.status.processing">
                            more_horiz
                        </i>
                        <i class="material-icons" data-ng-if="!page.status.processing">
                            done
                        </i>
                    </button>
                </div>

            </div>

        </div>

    </article>

</form>

