<h2>
    Protocol 1: Prevented sediment
</h2>

<p>
    <strong>
        Qualifying conditions
    </strong>
</p>

<p>
    The stream reach must be greater than 100 feet in length and be still actively enlarging or degrading in response to
    upstream development or adjustment to previous disturbances in the watershed (e.g., a road crossing and failing
    dams). Most projects will be located on first- to third-order streams, but if larger fourth and fifth order streams
    are found to contribute significant and uncontrolled amounts of sediment and nutrients to downstream waters,
    consideration for this BMP would be appropriate, recognizing that multiple and/or larger scale projects may be
    needed or warranted to achieve desired watershed treatment goals.
</p>

<p>
    The project must utilize a comprehensive approach to stream restoration design, addressing long-term stability of
    the channel, banks, and floodplain.
</p>

<p>
    Special consideration is given to projects that are explicitly designed to reconnect the stream with its floodplain
    or create wetlands and instream habitat features known to promote nutrient uptake or denitrification.
</p>

<p>
    Each project must comply with all state and federal permitting requirements, including 404 and 401 permits, which
    may contain conditions for pre-project assessment and data collection, as well as post-construction monitoring.
</p>

<p>
    Stream restoration is a carefully designed intervention to improve the hydrologic, hydraulic, geomorphic, water
    quality, and biological condition of degraded urban streams, and must not be implemented for the sole purpose of
    nutrient or sediment reduction.
</p>

<p>
    There may be instances where limited bank stabilization is needed to protect critical public infrastructure, which
    may need to be mitigated and does not qualify for any sediment or reduction credits.
</p>

<p>
    A qualifying project must meet certain presumptive criteria to ensure that high functioning portions of the urban
    stream corridor are not used for in-stream stormwater treatment (i.e., where existing stream quality is still good).
    These may include one or more of the following:
</p>

<ul>
    <li>
        Geomorphic evidence of active stream degradation (i.e., BEHI score)
    </li>
    <li>
        An IBI of fair or worse
    </li>
    <li>
        Hydrologic evidence of floodplain disconnection
    </li>
    <li>
        Evidence of significant depth of legacy sediment in the project reach
    </li>
</ul>

<form id="protocol-1"
      data-ng-submit="page.saveInputs()"
      class="form"
      role="form">

    <article class="feature-detail">

        <div class="feature-detail-content">

            <div data-ng-if="page.modelInputs.conditions.protocol1">

                <fieldset>

                    <div class="form-element">

                        <label for="bulk_density_of_soil" class="meta-label">
                            <strong>Bulk density of soil (lbs/ft<sup>3</sup>)</strong>
                        </label>

                        <input type="number" class="form-control" data-ng-model="page.modelInputs.bulk_density_of_soil"
                               id="bulk_density_of_soil" name="bulk_density_of_soil" placeholder=""/>

                    </div>

                    <div class="form-element">

                        <label for="bank_erosion_rate" class="meta-label">
                            <strong>Bank erosion rate (ft/year)</strong>
                        </label>

                        <input type="number" class="form-control" data-ng-model="page.modelInputs.bank_erosion_rate"
                               id="bank_erosion_rate" name="bank_erosion_rate" placeholder=""/>

                    </div>

                    <div class="form-element">

                        <label for="eroding_bank_area" class="meta-label">
                            <strong>Eroding bank area (ft<sup>2</sup>)</strong>
                        </label>

                        <input type="number" class="form-control" data-ng-model="page.modelInputs.eroding_bank_area"
                               id="eroding_bank_area" name="eroding_bank_area" placeholder="&hellip;"/>

                    </div>

                </fieldset>

            </div>

            <div class="save--action--wrapper save--action--bottom">
                <button type="submit" data-ng-disabled="page.status.processing">
                    <i class="material-icons" data-ng-if="page.status.processing">
                        more_horiz
                    </i>
                    <i class="material-icons" data-ng-if="!page.status.processing">
                        done
                    </i>
                </button>
            </div>

        </div>

    </article>

</form>

<h2>
    Protocol 2: Denitrification in the hyporheic zone
</h2>

<p>
    <strong>
        Qualifying conditions
    </strong>
</p>

<p>
    Project must meet applicable floodplain management requirements in the stream corridor. Any individual stream
    restoration project should be assessed with hydrologic and hydraulic models to demonstrate whether it increases
    water surface elevations or has adverse downstream flooding impacts. In general, these analyses are based on design
    storm events and flood risk conditions established by the appropriate local or state floodplain management agency
    (e. g., the 100-year storm event).
</p>

<p>
    Project must evaluate the duration of floodplain ponding in the context of the restoration goals. Micro pools and
    long-duration ponding of water on the floodplain is essential for amphibian habitat, but large open water features
    may adversely impact the desired riparian vegetative community. In evaluating a potential restoration site and
    design, consider the potential adverse effects of extended open water ponding based on the soil characteristics,
    plant community, amphibian and other aquatic habitat goals.
</p>

<p>
    Project must demonstrate consideration of potential unintended consequences of the restoration. The project should
    document that a site impairment exists and that the interventions or restoration work proposed are appropriate to
    address the impairment. The proposed design should demonstrate that a positive ecological functional uplift (or
    change) for the stream and associated riparian system will result.
</p>

<p>
    Project must demonstrate that it either provides, or is tied into existing upstream and downstream grade controls to
    ensure the project reach can maintain the intended stream access to the floodplain.
</p>

<p>
    Project must clearly define the boundary of the effective hyporheic zone. For Floodplain Restoration and Raising the
    Streambed projects the effective hyporheic zone is a maximum of 18 inches deep in the floodplain soil profile, and
    extends only to those areas that are regularly inundated after the streambed is raised. The actual dimensions must
    be confirmed by site investigations that define stream flow conditions, root zones, aquifer conditions and the
    pre-project water table conditions.
</p>

<p>
    Project must demonstrate that baseflow conditions are not reduced as a result of the restoration (ex. change from
    perennial to seasonal intermittent flow).
</p>

<p>
    Presence of legacy sediment deposits or other floodplain impairment. Legacy sediments must be present in the project
    reach to a depth that has impaired aquatic ecosystem function. Legacy sediment includes any deposits that have
    occurred since European settlement, including very recent sediment deposits, often created by features such as mill
    dams, road embankments, floodplain fill and other kinds of stream corridor impairment.
</p>

<p>
    Floodplain connection to valley bottom aquifer. The design objective is to restore a plant/groundwater connection
    within the floodplain, so that most of the root mass of the floodplain vegetation is in direct contact with the
    underlying hyporheic aquifer. In cases where the historic hyporheic aquifer cannot be accessed due to modern
    controls (i.e., culverts or utility crossings), the objective is to plug the flow of the underlying aquifer so as to
    create a new hyporheic zone using cobbles, gravel and/or sandy materials.
</p>

<p>
    Defined boundaries for the channel(s), floodplain and valley bottom. The restored channel and floodplain dimensions
    are based on field testing that define the key vertical and lateral sediment boundaries of the existing floodplain
    and the hyporheic aquifer beneath it.
</p>

<p>
    Removal of legacy sediments is the primary means to restore floodplain reconnection at most sites.
</p>

<p>
    Meet applicable floodplain management requirements in the stream corridor. Any individual stream restoration project
    should be assessed with hydrologic and hydraulic models to demonstrate whether it increases water surface elevations
    or adverse downstream flooding impacts. In general, these analyses are based on design storm events and flood risk
    conditions established by the appropriate local or state floodplain management agency (e.g., the 100-year storm
    event).
</p>

<form id="protocol-2"
      data-ng-submit="page.saveInputs()"
      class="form"
      role="form">

    <article class="feature-detail">

        <div class="feature-detail-content">

            <div data-ng-if="page.modelInputs.conditions.protocol2">

                <p>
                    <strong>
                        Define the effective hyporheic zone and apply the denitrification rate.
                    </strong>
                </p>

                <fieldset>

                    <div class="form-element">

                        <label for="floodplain_sq_ft" class="meta-label">
                            <strong>Floodplain area (ft<sup>2</sup>)</strong>
                        </label>

                        <input type="number" class="form-control" data-ng-model="page.modelInputs.floodplain_sq_ft"
                               id="floodplain_sq_ft" name="floodplain_sq_ft" placeholder=""/>

                    </div>

                    <div class="form-element">

                        <label for="channel_sq_ft" class="meta-label">
                            <strong>Channel area (ft<sup>2</sup>)</strong>
                        </label>

                        <input type="number" class="form-control" data-ng-model="page.modelInputs.channel_sq_ft"
                               id="channel_sq_ft" name="channel_sq_ft" placeholder=""/>

                    </div>

                </fieldset>

                <p>
                    <strong>
                        Enter the site specific discount factors using the table below.
                    </strong>
                </p>

                <fieldset>

                    <div class="form-element">

                        <label for="brf" class="meta-label">
                            <strong>Baseflow reduction factor (B<sub>f</sub>)</strong>
                        </label>

                        <input type="number" class="form-control" data-ng-model="page.modelInputs.brf"
                               id="brf" name="brf" placeholder=""/>

                    </div>

                    <div class="form-element">

                        <label for="fhf" class="meta-label">
                            <strong>Floodplain height factor (H<sub>f</sub>)</strong>
                        </label>

                        <input type="number" class="form-control" data-ng-model="page.modelInputs.fhf"
                               id="fhf" name="fhf" placeholder=""/>

                    </div>

                    <div class="form-element">

                        <label for="acrf" class="meta-label">
                            <strong>Aquifer conductivity reduction factor (A<sub>f</sub>)</strong>
                        </label>

                        <input type="number" class="form-control" data-ng-model="page.modelInputs.acrf"
                               id="acrf" name="acrf" placeholder=""/>

                    </div>

                </fieldset>

            </div>

            <div class="save--action--wrapper save--action--bottom">
                <button type="submit" data-ng-disabled="page.status.processing">
                    <i class="material-icons" data-ng-if="page.status.processing">
                        more_horiz
                    </i>
                    <i class="material-icons" data-ng-if="!page.status.processing">
                        done
                    </i>
                </button>
            </div>

        </div>

    </article>

</form>