<div>

    <!-- PROTOCOL 4 -->

    <h2>
        Stormwater performance standard
    </h2>

    <div class="flex flex-dir-row flex-align-center margin-0 margin-b-1">
        <span class="grow">
            <strong>
                Qualifying conditions
            </strong>
        </span>
        <div data-ng-click="page.displayConditions.protocol4 = !page.displayConditions.protocol4"
             data-ng-if="!page.displayConditions.protocol4"
             class="flex flex-dir-col flex-justify-center flex-align-center"
             style="flex-grow: 0; flex-shrink: 0; margin-right: -1rem;"
             title="Show more">
            <div class="halo-btn">
                <div class="halo"></div>
                <span class="material-icons">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px"
                         viewBox="0 0 24 24" width="24px" fill="#000000">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/>
                    </svg>
                </span>
            </div>
        </div>
        <div data-ng-click="page.displayConditions.protocol4 = !page.displayConditions.protocol4"
             data-ng-if="page.displayConditions.protocol4"
             class="flex flex-dir-col flex-justify-center flex-align-center"
             style="flex-grow: 0; flex-shrink: 0; margin-right: -1rem;"
             title="Show less">
            <div class="halo-btn">
                <div class="halo"></div>
                <span class="material-icons">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px"
                         viewBox="0 0 24 24" width="24px" fill="#000000">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path d="M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14z"/>
                    </svg>
                </span>
            </div>
        </div>
    </div>

    <div class="pad-1 margin-b-2"
         style="background: #edf7fe; border-radius: .5rem; font-size: .9rem;"
         data-ng-if="page.displayConditions.protocol4">

        <p class="pad-0 margin-b-2">
            Eligible runoff reduction practices are: landscape restoration/reforestation; rooftop disconnection;
            sheetflow to filter/open space; all ESD practices in MD 2007; dry swale; expanded tree pits; grass channels;
            green roof; green streets; infiltration; rainwater harvesting; landscape restoration/reforestation.
        </p>

        <p class="pad-0 margin-0">
            Eligible stormwater treatment practices are: constructed wetlands; filtering practices; proprietary
            practices; wet ponds and wet swales.
        </p>

    </div>

    <div class="pad-t-1 pad-b-1"
         style="display: flex; flex-flow: row nowrap; align-items: center;">
        <div class="flex flex-dir-col flex-align-center flex-justify-center margin-r-1">
            <svg xmlns="http://www.w3.org/2000/svg"
                 enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24"
                 width="24px" fill="#000000">
                <rect fill="none" height="24" width="24"/>
                <path d="M22,7h-9v2h9V7z M22,15h-9v2h9V15z M5.54,11L2,7.46l1.41-1.41l2.12,2.12l4.24-4.24l1.41,1.41L5.54,11z M5.54,19L2,15.46 l1.41-1.41l2.12,2.12l4.24-4.24l1.41,1.41L5.54,19z"/>
            </svg>
        </div>
        <div class="pad-r-2">
            This project meets all qualifying conditions for protocol 4.
        </div>
        <label data-ng-click="page.modelInputs.conditions.protocol4 = !page.modelInputs.conditions.protocol4; page.saveInputs('swp')"
               for="protocol4-checkbox"
               title="Accept/reject conditions">
            <div class="flex flex-dir-col flex-align-center flex-justify-center"
                 data-ng-if="page.modelInputs.conditions.protocol4">
                <span class="material-icons">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24"
                         width="24px" fill="#2196F3">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path d="M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.11 0 2-.9 2-2V5c0-1.1-.89-2-2-2zm-9 14l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/>
                    </svg>
                </span>
            </div>
            <div class="flex flex-dir-col flex-align-center flex-justify-center"
                 data-ng-if="!page.modelInputs.conditions.protocol4">
                <span class="material-icons">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24"
                         width="24px" fill="#2196F3">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"/>
                    </svg>
                </span>
            </div>
            <input type="checkbox"
                   style="position: fixed; right: 100%;"
                   id="protocol4-checkbox"
                   name="protocol4-checkbox"
                   data-ng-model="page.modelInputs.conditions.protocol4">
        </label>
    </div>

    <form id="protocol-4"
          data-ng-submit="page.saveInputs('swp')"
          data-ng-if="page.modelInputs.conditions.protocol4"
          class="form"
          role="form">

        <fieldset class="pad-0 margin-0"
                  style="border: none; float: none;">

            <div class="form-element">

                <label for="swp_modes">
                    <strong>Calculation mode</strong>
                </label>

                <div class="classification--search margin-t-1"
                     style="position: relative;">

                    <select id="swp_modes"
                            name="swp_modes"
                            data-ng-model="page.modelInputs.swp.mode">
                        <option value=""
                                data-ng-if="!page.modelInputs.swp.mode"
                                disabled
                                selected>
                            Select mode&hellip;
                        </option>
                        <option data-ng-repeat="mode in page.modelInputs.swp_modes track by mode.key"
                                data-ng-selected="mode.key === page.modelInputs.swp.mode"
                                value="{{ mode.key }}"
                                title="{{ mode.name }}">
                            {{ mode.name }}
                        </option>
                    </select>

                </div>

            </div>

        </fieldset>

        <p class="pad-1 margin-0 margin-b-1"
           style="font-size: 1rem; background: #FFF8E1; border-radius: .5rem;">
            Enter a separate set of measurements for each treated load source.
        </p>

        <article class="feature-detail pad-1 margin-b-2"
                 style="border-radius: .5rem; background: #F5F5F5;"
                 data-ng-repeat="(idx, group) in page.modelInputs.swp.input_groups">

            <div class="feature-detail-content">

                <div>

                    <p class="pad-0 margin-0 margin-b-1" style="font-size: 1.125rem;">
                        <strong>
                            Treatment inputs
                        </strong>
                    </p>

                    <fieldset class="pad-0 margin-0"
                              style="border: none; float: none;">

                        <div class="form-element">

                            <label for="swp_load_sources-{{ idx }}">
                                <strong>Load source</strong>
                            </label>

                            <div class="classification--search margin-t-1"
                                 style="position: relative;">

                                <select id="swp_load_sources-{{ idx }}"
                                        name="swp_load_sources-{{ idx }}"
                                        data-ng-model="group.source_key">
                                    <option value=""
                                            data-ng-if="!group.source_key"
                                            disabled
                                            selected>
                                        Select load source&hellip;
                                    </option>
                                    <option data-ng-repeat="src in page.modelInputs.swp.load_sources track by src.key"
                                            data-ng-selected="src.key === group.source_key"
                                            value="{{ src.key }}"
                                            title="{{ src.name }}">
                                        {{ src.name }}
                                    </option>
                                </select>

                            </div>

                        </div>

                        <div class="form-element">

                            <label for="source_acres-{{ idx }}" class="meta-label">
                                <strong>Load source acres</strong>
                            </label>

                            <input type="number"
                                   step="any"
                                   class="form-control"
                                   data-ng-model="group.source_acres"
                                   id="source_acres-{{ idx }}"
                                   name="source_acres-{{ idx }}"
                                   placeholder="&hellip;"/>

                        </div>

                        <div class="form-element">

                            <label for="footprint_area-{{ idx }}" class="meta-label">
                                <strong>BMP footprint area (acres)</strong>
                            </label>

                            <input type="number"
                                   step="any"
                                   class="form-control"
                                   data-ng-model="group.footprint_area"
                                   id="footprint_area-{{ idx }}"
                                   name="footprint_area-{{ idx }}"
                                   placeholder="&hellip;"/>

                        </div>

                        <div class="form-element">

                            <label for="imp_drainage_acres-{{ idx }}" class="meta-label">
                                <strong>Impervious acres in drainage area</strong>
                            </label>

                            <input type="number"
                                   step="any"
                                   class="form-control"
                                   data-ng-model="group.impervious_acres"
                                   id="imp_drainage_acres-{{ idx }}"
                                   name="imp_drainage_acres-{{ idx }}"
                                   placeholder="&hellip;"/>

                        </div>

                        <div class="form-element">

                            <label for="ponding_depth-{{ idx }}" class="meta-label">
                                <strong>Ponding depth<sup>*</sup></strong>
                            </label>

                            <input type="number"
                                   step="any"
                                   class="form-control"
                                   data-ng-model="group.ponding_depth"
                                   id="ponding_depth-{{ idx }}"
                                   name="ponding_depth-{{ idx }}"
                                   placeholder="&hellip;"/>

                            <p class="pad-0 margin-0 margin-t-1"
                               style=font-size:.9rem;">
                                <sup>*</sup>Ponding depth (ft) = surface volume storage (ft) + (filter media layer depth
                                (ft) * porosity)
                            </p>

                        </div>

                    </fieldset>

                    <p class="pad-0 margin-0 margin-b-2" style="font-size: 1.125rem;">
                        <strong>
                            Load calculations
                        </strong>
                    </p>

                    <fieldset class="pad-0 margin-0"
                              style="border: none; float: none;">

                        <div class="triad">

                            <div class="flex flex-dir-col pad-r-1">

                                <div class="form-element pad-0 margin-0">

                                    <label class="meta-label"
                                           for="tn_pct_reduced-{{ idx }}">
                                        <strong>TN % reduced</strong>
                                    </label>

                                    <input type="text"
                                           step="any"
                                           class="form-control"
                                           value="{{ group.tn_pct_reduced | number:2 }}"
                                           id="tn_pct_reduced-{{ idx }}"
                                           name="tn_pct_reduced-{{ idx }}"
                                           placeholder="&hellip;" disabled readonly/>

                                </div>

                            </div>

                            <div class="flex flex-dir-col pad-l-1 pad-r-1">

                                <div class="form-element pad-0 margin-0">

                                    <label class="meta-label"
                                           for="tp_pct_reduced-{{ idx }}">
                                        <strong>TP % reduced</strong>
                                    </label>

                                    <input type="text"
                                           step="any"
                                           class="form-control"
                                           value="{{ group.tp_pct_reduced | number:2 }}"
                                           id="tp_pct_reduced-{{ idx }}"
                                           name="tp_pct_reduced-{{ idx }}"
                                           placeholder="&hellip;" disabled readonly/>

                                </div>

                            </div>

                            <div class="flex flex-dir-col pad-l-1">

                                <div class="form-element pad-0 margin-0">

                                    <label class="meta-label"
                                           for="tss_pct_reduced-{{ idx }}">
                                        <strong>TSS % reduced</strong>
                                    </label>

                                    <input type="text"
                                           step="any"
                                           class="form-control"
                                           value="{{ group.tss_pct_reduced | number:2 }}"
                                           id="tss_pct_reduced-{{ idx }}"
                                           name="tss_pct_reduced-{{ idx }}"
                                           placeholder="&hellip;" disabled readonly/>

                                </div>

                            </div>

                        </div>

                    </fieldset>

                    <p class="pad-0 margin-0 margin-t-2 margin-b-2" style="font-size: 1.125rem;">
                        <strong>
                            Reduction credits (pounds per year)
                        </strong>
                    </p>

                    <fieldset class="pad-0 margin-0"
                              style="border: none; float: none;">

                        <div class="triad">

                            <div class="flex flex-dir-col pad-r-1">

                                <div class="form-element pad-0 margin-0">

                                    <label class="meta-label"
                                           for="tn_lbs_reduced-{{ idx }}">
                                        <strong>TN reduction (lbs)</strong>
                                    </label>

                                    <input type="text"
                                           step="any"
                                           class="form-control"
                                           value="{{ group.tn_lbs_reduced | number:2 }}"
                                           id="tn_lbs_reduced-{{ idx }}"
                                           name="tn_lbs_reduced-{{ idx }}"
                                           placeholder="&hellip;" disabled readonly/>

                                </div>

                            </div>

                            <div class="flex flex-dir-col pad-l-1 pad-r-1">

                                <div class="form-element pad-0 margin-0">

                                    <label class="meta-label"
                                           for="tp_lbs_reduced-{{ idx }}">
                                        <strong>TP reduction (lbs)</strong>
                                    </label>

                                    <input type="text"
                                           step="any"
                                           class="form-control"
                                           value="{{ group.tp_lbs_reduced | number:2 }}"
                                           id="tp_lbs_reduced-{{ idx }}"
                                           name="tp_lbs_reduced-{{ idx }}"
                                           placeholder="&hellip;" disabled readonly/>

                                </div>

                            </div>

                            <div class="flex flex-dir-col pad-l-1">

                                <div class="form-element pad-0 margin-0">

                                    <label class="meta-label"
                                           for="tss_lbs_reduced-{{ idx }}">
                                        <strong>TSS reduction (lbs)</strong>
                                    </label>

                                    <input type="text"
                                           step="any"
                                           class="form-control"
                                           value="{{ group.tss_lbs_reduced | number:2 }}"
                                           id="tss_lbs_reduced-{{ idx }}"
                                           name="tss_lbs_reduced-{{ idx }}"
                                           placeholder="&hellip;" disabled readonly/>

                                </div>

                            </div>

                        </div>

                    </fieldset>

                </div>

            </div>

            <div data-ng-click="page.modelInputs.swp.input_groups.splice(idx, 1); page.saveInputs('swp')"
                 class="pad-b-1 pad-t-1 flex flex-dir-row flex-align-center flex-justify-end flex-nwrap">
                <div class="flex flex-dir-col flex-align-center flex-justify-center margin-r-1">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24"
                         width="24px" fill="#0366d6">
                        <path d="M0 0h24v24H0V0z" fill="none"/>
                        <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM8 9h8v10H8V9zm7.5-5l-1-1h-5l-1 1H5v2h14V4z"/>
                    </svg>
                </div>
                <a href="#">
                    Remove this set of measurements.
                </a>
            </div>

        </article>

        <div data-ng-click="page.modelInputs.swp.input_groups.push({source_key:null,footprint_area:null,
                impervious_acres:null,ponding_depth:null})"
             data-ng-if="page.modelInputs.conditions.protocol4"
             class="pad-b-1 pad-t-1"
             style="display: flex; flex-flow: row nowrap; align-items: center;">
            <div class="flex flex-dir-col flex-align-center flex-justify-center margin-r-1">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24"
                     width="24px" fill="#0366d6">
                    <path d="M0 0h24v24H0z" fill="none"/>
                    <path d="M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4V7zm-1-5C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/>
                </svg>
            </div>
            <a class="pad-r-2" href="#">
                Add a set of measurements.
            </a>
        </div>

        <div class="pad-y-2 flex flex-dir-row flex-nwrap flex-align-center flex-justify-end">
            <button type="button"
                    data-ng-disabled="page.status.processing"
                    data-ng-click="page.resetInputs('swp')"
                    class="pad-t-50p pad-b-50p pad-l-1 pad-r-1 margin-r-2 rad-25"
                    style="color: #FFFFFF; font-size: 1rem; background: #212121; border: 0 none;">
                Reset protocol
            </button>
            <button type="submit"
                    data-ng-disabled="page.status.processing"
                    class="pad-t-50p pad-b-50p pad-l-1 pad-r-1 rad-25"
                    style="color: #FFFFFF; font-size: 1rem; background: #2196F3; border: 0 none;">
                Save inputs
            </button>
        </div>

    </form>

</div>

