<form data-ng-submit="page.saveInputs()" class="form" role="form">

    <article class="feature-detail">

        <div class="feature-detail-content">

            <fieldset>

                <div class="form-group">

                    <p style="color: #212121; font-size: 1em; font-style: normal;">
                        <strong>Has the practice been fully implemented?</strong>
                    </p>

                    <div class="form-element">

                        <div class="search-options-radio">

                            <label for="implemented_true">
                                <input data-ng-model="page.modelInputs.implemented" type="radio" data-ng-value="true" class="form-control" id="implemented_true" name="implemented_true" />True
                            </strong></label>


                            <label for="implemented_false">
                                <input data-ng-model="page.modelInputs.implemented" type="radio" data-ng-value="false" class="form-control" id="implemented_false" name="implemented_false" />False
                            </strong></label>

                        </div>

                    </div>

                </div>

                <p style="color: #616161; font-size: 0.9em; font-style: normal; margin-top: 0.5em;">
                    Explanatory and/or instructional text should go here! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>

            </fieldset>

            <div>

                <fieldset>

                    <div class="form-element">

                        <label for="acres_treated" class="meta-label">
                            <strong>Enter number of acres treated</strong>
                        </label>

                        <input type="number" class="form-control" data-ng-model="page.modelInputs.acres_treated" id="acres_treated" name="acres_treated" placeholder="" />

                        <p style="color: #616161; font-size: 0.9em; font-style: normal; margin-top: 0.5em;">
                            Explanatory and/or instructional text should go here! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>

                    </div>

                </fieldset>

            </div>

            <div class="save--action--wrapper save--action--bottom">
                <button type="submit" data-ng-disabled="page.status.processing">
                    <i class="material-icons" data-ng-if="page.status.processing">
                        more_horiz
                    </i>
                    <i class="material-icons" data-ng-if="!page.status.processing">
                        done
                    </i>
                </button>
            </div>

        </div>

    </article>

</form>