<form data-ng-submit="page.saveInputs()" class="form" role="form">

    <article class="feature-detail">

        <div class="feature-detail-content">

            <!-- INSTALLATION FIELDS -->

            <fieldset>

                <h2>
                    Installation Summary
                </h2>

                <div class="form-group">

                    <div class="row nested-row">

                        <div class="column-4">

                            <label for="installation_structure_type_1" class="control-label">
                                Type of Structural Feature
                            </label>

                            <select class="form-control" data-ng-model="page.modelInputs.installation_structure_type_1" id="installation_structure_type_1" name="installation_structure_type_1" data-ng-options="type for type in page.options.structureTypes">
                                <option value="">
                                    -- Select a Structure type --
                                </option>
                            </select>

                        </div>

                        <div class="column-4">

                            <label for="installation_structure_units_1" class="control-label">
                                Units
                            </label>

                            <input type="text" class="form-control" data-ng-model="page.modelInputs.installation_structure_units_1" id="installation_structure_units_1" name="installation_structure_units_1" placeholder="" />

                        </div>

                        <div class="column-4">

                            <label for="installation_structure_extent_1" class="control-label">
                                Extent
                            </label>

                            <input type="number" class="form-control" data-ng-model="page.modelInputs.installation_structure_extent_1" id="installation_structure_extent_1" name="installation_structure_extent_1" placeholder="" />
                        </div>

                    </div>

                    <div class="row nested-row">

                        <div class="column-4">

                            <select class="form-control" data-ng-model="page.modelInputs.installation_structure_type_2" id="installation_structure_type_2" name="installation_structure_type_2" data-ng-options="type for type in page.options.structureTypes">
                                <option value="">
                                    -- Select a Structure type --
                                </option>
                            </select>

                        </div>

                        <div class="column-4">
                            <input type="text" class="form-control" data-ng-model="page.modelInputs.installation_structure_units_2" id="installation_structure_units_2" name="installation_structure_units_2" placeholder="" />
                        </div>

                        <div class="column-4">
                            <input type="number" class="form-control" data-ng-model="page.modelInputs.installation_structure_extent_2" id="installation_structure_extent_2" name="installation_structure_extent_2" placeholder="" step="0.0001" />
                        </div>

                    </div>

                    <div class="row nested-row">

                        <div class="column-4">

                            <select class="form-control" data-ng-model="page.modelInputs.installation_structure_type_3" id="installation_structure_type_3" name="installation_structure_type_3" data-ng-options="type for type in page.options.structureTypes">
                                <option value="">
                                    -- Select a Structure type --
                                </option>
                            </select>

                        </div>

                        <div class="column-4">
                            <input type="text" class="form-control" data-ng-model="page.modelInputs.installation_structure_units_3" id="installation_structure_units_3" name="installation_structure_units_3" placeholder="" />
                        </div>

                        <div class="column-4">
                            <input type="number" class="form-control" data-ng-model="page.modelInputs.installation_structure_extent_3" id="installation_structure_extent_3" name="installation_structure_extent_3" placeholder="" step="0.0001" />
                        </div>

                    </div>

                    <div class="row nested-row">

                        <div class="column-4">

                            <select class="form-control" data-ng-model="page.modelInputs.installation_structure_type_4" id="installation_structure_type_4" name="installation_structure_type_4" data-ng-options="type for type in page.options.structureTypes">
                                <option value="">
                                    -- Select a Structure type --
                                </option>
                            </select>

                        </div>

                        <div class="column-4">
                            <input type="text" class="form-control" data-ng-model="page.modelInputs.installation_structure_units_4" id="installation_structure_units_4" name="installation_structure_units_4" placeholder="" />
                        </div>

                        <div class="column-4">
                            <input type="number" class="form-control" data-ng-model="page.modelInputs.installation_structure_extent_4" id="installation_structure_extent_4" name="installation_structure_extent_4" placeholder="" step="0.0001" />
                        </div>

                    </div>

                </div>

            </fieldset>

            <fieldset>

                <h2>
                    Metrics
                </h2>

                <div class="form-group">

                    <div class="row nested-row">

                        <div class="column-16">

                            <label for="metrics_areas_protected" class="control-label">
                                Acres Protected Under Long-term Easement
                            </label>

                            <input type="number" class="form-control" data-ng-model="page.modelInputs.metrics_areas_protected" id="metrics_areas_protected" name="metrics_areas_protected" placeholder="" step="0.0001" />

                            <p class="help-text">
                                permanent or >30 years
                            </p>

                        </div>

                    </div>

                </div>

                <div class="form-group">

                    <div class="row nested-row">

                        <div class="column-16">

                            <label for="metrics_habitat_restoration_target_species_1" class="control-label">
                                Habitat Restoration Target Species (1)
                            </label>

                            <input type="text" class="form-control" data-ng-model="page.modelInputs.metrics_habitat_restoration_target_species_1" id="metrics_habitat_restoration_target_species_1" name="metrics_habitat_restoration_target_species_1" placeholder="" />

                        </div>

                    </div>

                </div>

                <div class="form-group">

                    <div class="row nested-row">

                        <div class="column-16">

                            <label for="metrics_habitat_restoration_target_species_2" class="control-label">
                                Habitat Restoration Target Species (2)
                            </label>

                            <input type="text" class="form-control" data-ng-model="page.modelInputs.metrics_habitat_restoration_target_species_2" id="metrics_habitat_restoration_target_species_2" name="metrics_habitat_restoration_target_species_2" placeholder="" />

                        </div>

                    </div>

                </div>

                <div class="form-group">

                    <div class="row nested-row">

                        <div class="column-16">

                            <label for="metrics_areas_of_habitat_restored" class="control-label">
                                Acres of Habitat Restored
                            </label>

                            <input type="number" class="form-control" data-ng-model="page.modelInputs.metrics_areas_of_habitat_restored" id="metrics_areas_of_habitat_restored" name="metrics_areas_of_habitat_restored" placeholder="" step="0.0001" />

                        </div>

                    </div>

                </div>

                <div class="form-group">

                    <div class="row nested-row">

                        <div class="column-16">

                            <label for="metrics_acres_of_wetlands_restored" class="control-label">
                                Acres of Wetlands Restored
                            </label>

                            <input type="number" class="form-control" data-ng-model="page.modelInputs.metrics_acres_of_wetlands_restored" id="metrics_acres_of_wetlands_restored" name="metrics_acres_of_wetlands_restored" placeholder="" step="0.0001" />

                        </div>

                    </div>

                </div>

                <div class="form-group">

                    <div class="row nested-row">

                        <div class="column-16">

                            <label for="metrics_miles_of_living_shoreline_restored" class="control-label">
                                Miles of Living Shoreline Restored
                            </label>

                            <input type="number" class="form-control" data-ng-model="page.modelInputs.metrics_miles_of_living_shoreline_restored" id="metrics_miles_of_living_shoreline_restored" name="metrics_miles_of_living_shoreline_restored" placeholder="" step="0.0001" />

                        </div>

                    </div>

                </div>

                <div class="form-group">

                    <div class="row nested-row">

                        <div class="column-16">

                            <label for="metrics_acres_of_oyster_habitat_restored" class="control-label">
                                Acres of Oyster Habitat Restored
                            </label>

                            <input type="number" class="form-control" data-ng-model="page.modelInputs.metrics_acres_of_oyster_habitat_restored" id="metrics_acres_of_oyster_habitat_restored" name="metrics_acres_of_oyster_habitat_restored" placeholder="" step="0.0001" />

                        </div>

                    </div>

                </div>

                <div class="form-group">

                    <div class="row nested-row">

                        <div class="column-8">
                            <label for="metrics_fish_passage_improvements_number_of_passage_barriers_re" class="control-label">
                                Fish Passage Improvements
                            </label>

                            <input type="number" class="form-control" data-ng-model="page.modelInputs.metrics_fish_passage_improvements_number_of_passage_barriers_re" id="metrics_fish_passage_improvements_number_of_passage_barriers_re" name="metrics_fish_passage_improvements_number_of_passage_barriers_re" placeholder="" step="0.0001" />

                            <p class="help-text">
                                # of passage barriers rectified
                            </p>

                        </div>

                        <div class="column-8">

                            <label for="metrics_fish_passage_improvements_number_of_fish_crossing_barri" class="control-label">
                                &nbsp;
                            </label>

                            <input type="number" class="form-control" data-ng-model="page.modelInputs.metrics_fish_passage_improvements_number_of_fish_crossing_barri" id="metrics_fish_passage_improvements_number_of_fish_crossing_barri" name="metrics_fish_passage_improvements_number_of_fish_crossing_barri" placeholder="" step="0.0001" />

                            <p class="help-text">
                                # of fish counted crossing rectified barriers
                            </p>

                        </div>

                    </div>

                </div>

                <div class="form-group">

                    <div class="row nested-row">

                        <div class="column-16">

                            <label for="metrics_miles_of_stream_opened" class="control-label">
                                Miles of Stream Opened
                            </label>

                            <input type="number" class="form-control" data-ng-model="page.modelInputs.metrics_miles_of_stream_opened" id="metrics_miles_of_stream_opened" name="metrics_miles_of_stream_opened" placeholder="" step="0.0001" />

                        </div>

                    </div>

                </div>


                <div class="form-group">

                    <div class="row nested-row">

                        <div class="column-8">

                            <label for="metrics_number_of_reintroduced_subwatersheds_eastern_brook_trou" class="control-label">
                                Eastern Brook Trout
                            </label>

                            <input type="number" class="form-control" data-ng-model="page.modelInputs.metrics_number_of_reintroduced_subwatersheds_eastern_brook_trou" id="metrics_number_of_reintroduced_subwatersheds_eastern_brook_trou" name="metrics_number_of_reintroduced_subwatersheds_eastern_brook_trou" placeholder="" step="0.0001" />

                            <p class="help-text">
                                # reintroduced subwatersheds
                            </p>

                        </div>

                        <div class="column-8">

                            <label for="metrics_number_of_habitat_units_improved_eastern_brook_trout" class="control-label">
                                &nbsp;
                            </label>

                            <input type="number" class="form-control" data-ng-model="page.modelInputs.metrics_number_of_habitat_units_improved_eastern_brook_trout" id="metrics_number_of_habitat_units_improved_eastern_brook_trout" name="metrics_number_of_habitat_units_improved_eastern_brook_trout" placeholder="" step="0.0001" />

                            <p class="help-text">
                                # of habitat units improved
                            </p>

                        </div>

                    </div>

                </div>

            </fieldset>

            <div class="save--action--wrapper save--action--bottom">
                <button type="submit" data-ng-disabled="page.status.processing">
                    <i class="material-icons" data-ng-if="page.status.processing">
                        more_horiz
                    </i>
                    <i class="material-icons" data-ng-if="!page.status.processing">
                        done
                    </i>
                </button>
            </div>

        </div>

    </article>

</form>