<form data-ng-submit="page.saveInputs()" class="form" role="form">

    <div class="form-element">

        <span class="meta-label"><b>Practice extent</b></span>

        <input type="number" data-ng-model="page.modelInputs.practice_extent" class="form-control animate" id="practice_extent" name="practice_extent" placeholder="&hellip;" min="0" step="0.00001" required />

        <p style="color: #616161; font-size: 0.9em; font-style: normal; margin-top: 0.5em;">
            acres
        </p>

    </div>

    <p style="color: #212121; font-size: 1em; font-style: normal;">
        <strong>Area draining to and treated by the practice</strong>
    </p>

    <p style="color: #616161; font-size: 0.9em; font-style: normal; margin-top: 0.5em;">
        Specific Engineering Parameter (EP) values of runoff volume captured by the project are uniquely defined for each state and should be calculated by the user according to each state&#39;s specifications, also included in CSN (2015).
    </p>

    <div class="form-element">

        <span class="meta-label"><b>Impervious area</b></span>

        <!-- <label class="control-label">Impervious Area</label> -->

        <input type="number" class="form-control" id="impervious_area" name="impervious_area" data-ng-model="page.modelInputs.impervious_area" min="0" step="0.00001" required />

        <p style="color: #616161; font-size: 0.9em; font-style: normal; margin-top: 0.5em;">
            ft<sup>2</sup> (square feet)
        </p>

    </div>

    <div class="form-element">

        <span class="meta-label"><b>Total drainage area</b></span>

        <!-- <label class="control-label">Total Drainage Area</label> -->

        <input type="number" class="form-control" id="total_drainage_area" name="total_drainage_area" data-ng-model="page.modelInputs.total_drainage_area" min="0" step="0.00001" required />

        <p style="color: #616161; font-size: 0.9em; font-style: normal; margin-top: 0.5em;">
            ft<sup>2</sup> (square feet)
        </p>

    </div>

    <div class="form-element">

        <span class="meta-label"><b>Runoff volume captured (EP)</b></span>

        <!-- <label class="control-label">Runoff Volume Captured (EP)</label> -->

        <input type="number" class="form-control" id="runoff_volume_captured" name="runoff_volume_captured" data-ng-model="page.modelInputs.runoff_volume_captured" min="0" step="0.00001" />

        <p style="color: #616161; font-size: 0.9em; font-style: normal; margin-top: 0.5em;">
            acre-feet
        </p>

    </div>

    <div class="save--action--wrapper save--action--bottom">
        <button type="submit" data-ng-disabled="page.status.processing">
            <i class="material-icons" data-ng-if="page.status.processing">
                more_horiz
            </i>
            <i class="material-icons" data-ng-if="!page.status.processing">
                done
            </i>
        </button>
    </div>

</form>