<div data-ng-include="'/templates/header--view.html'"></div>

<main class="container">
    <form data-ng-submit="page.saveReport()" class="row feature summary">
        <article class="feature-detail">
            <div class="column-16 feature-detail-content">

                <fieldset>
                    <!-- Report Date -->
                    <div class="form-group column-8">
                        <label for="report_date" class="control-label">
                            Report Date
                        </label>

                        <input data-ng-model="page.modelInputs.report_date" class="form-control" class="form-control" type="text" id="report_date" name="report_date" placeholder="Enter a date" />
                    </div>

                    <!-- Measurement Period -->
                    <div class="form-group column-8">
                        <label for="measurement_period" class="control-label">
                            Measurement Period
                        </label>

                        <select class="form-control" data-ng-model="page.modelInputs.measurement_period" id="measurement_period" name="measurement_period">
                            <option value="Planning">Planning</option>
                            <option value="Installation">Installation</option>
                            <option value="Monitoring">Monitoring</option>
                        </select>
                    </div>

                    <!-- WIP Reporting Agency -->
                    <div class="form-group column-8" data-ng-if="page.modelInputs.measurement_period === 'Planning'">
                        <label for="wip_reporting_agency" class="control-label">
                            WIP Reporting Agency
                        </label>

                        <select class="form-control" data-ng-model="page.modelInputs.wip_reporting_agency" id="wip_reporting_agency" name="wip_reporting_agency">
                            <option value="DC District Department of the Environment">DC District Department of the Environment</option>
                            <option value="Delaware Department of Natural Resources and Environmental Control">Delaware Department of Natural Resources and Environmental Control</option>
                            <option value="Maryland Department of Natural Resources">MD Department of Natural Resources</option>
                            <option value="Maryland Department of the Environment">MD Department of the Environment</option>
                            <option value="Maryland Department of Agriculture">MD Department of Agriculture</option>
                            <option value="New York Department of Environmental Conservation">New York Department of Environmental Conservation</option>
                            <option value="Pennsylvania Department of Environmental Protection">Pennsylvania Department of Environmental Protection</option>
                            <option value="Virginia Department of Conservation and Recreation">Virginia Department of Conservation and Recreation</option>
                            <option value="West Virginia Department of Environmental Protection">West Virginia Department of Environmental Protection</option>
                        </select>
                    </div>
                </fieldset>

                <!-- INSTALLATION FIELDS -->

                <fieldset data-ng-if="page.modelInputs.measurement_period === 'Planning' || page.modelInputs.measurement_period === 'Installation'">

                    <h2>
                        <strong>Installation</strong> Summary
                    </h2>

                    <div class="form-group">

                        <p class="help-text help-text-top">
                            <strong>Calculating Length:</strong> Linear features can be placed on either one, or both, sides of a stream. If a linear practice is installed on both sides of a stream, the total length of the practice is the sum of the length installed on both sides. For calculation of reduction benefits; if the upland characteristics of the site are different on the two sides, enter the practice as two BMPs; if the upland characteristics are the same on both sides, sum the length installed on each side and enter the total as one BMP.
                        </p>

                        <div class="row nested-row">
                            <div class="column-4">
                                <label for="installation_length_of_streambank" class="control-label">
                                    Length of Streambank
                                </label>

                                <input type="number" class="form-control" data-ng-model="page.modelInputs.installation_length_of_streambank" id="installation_length_of_streambank" name="installation_length_of_streambank" placeholder="" />
                                <p class="help-text">
                                    ft
                                </p>
                            </div>

                            <div class="column-4">
                                <label for="installation_eroding_bank_height" class="control-label">
                                    Eroding Bank Height
                                </label>

                                <input type="number" class="form-control" data-ng-model="page.modelInputs.installation_eroding_bank_height" id="installation_eroding_bank_height" name="installation_eroding_bank_height" placeholder="" />
                                <p class="help-text">
                                    ft
                                </p>
                            </div>

                            <div class="column-4">
                                <label for="installation_eroding_bank_horizontal_width" class="control-label">
                                    Eroding Bank Horizontal Width
                                </label>

                                <input type="number" class="form-control" data-ng-model="page.modelInputs.installation_eroding_bank_horizontal_width" id="installation_eroding_bank_horizontal_width" name="installation_eroding_bank_horizontal_width" placeholder="" />
                                <p class="help-text">
                                    ft
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row nested-row">
                            <div class="column-8">
                                <label for="installation_ler_evaluation_basis" class="control-label">
                                    LER Evaluation Basis
                                </label>

                                <select class="form-control" data-ng-model="page.modelInputs.installation_ler_evaluation_basis" id="installation_ler_evaluation_basis" name="installation_ler_evaluation_basis">
                                    <option value="BEHI/NBS">BEHI/NBS</option>
                                    <option value="Bank Erosion Pins">Bank Erosion Pins</option>
                                    <option value="Evaluation of Recession Severity Category">Evaluation of Recession Severity Category</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                            <div class="column-8">
                                <label for="installation_lateral_erosion_rate" class="control-label">
                                    Lateral Erosion Rate
                                </label>

                                <input type="number" class="form-control" data-ng-model="page.modelInputs.installation_lateral_erosion_rate" id="installation_lateral_erosion_rate" name="installation_lateral_erosion_rate" placeholder="" step="0.001" />

                                <p class="help-text">
                                    LER; feet/yr
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row nested-row">
                            <div class="column-4">
                                <label for="installation_soil_bulk_density" class="control-label">
                                    Soil Bulk Density
                                </label>

                                <input type="number" class="form-control" data-ng-model="page.modelInputs.installation_soil_bulk_density" id="installation_soil_bulk_density" name="installation_soil_bulk_density" placeholder="" step="0.001" />
                                <p class="help-text">
                                    lbs/cu ft
                                </p>
                            </div>
                            <div class="column-4">
                                <label for="installation_soil_n_content" class="control-label">
                                    Soil N Content
                                </label>

                                <input type="number" class="form-control" data-ng-model="page.modelInputs.installation_soil_n_content" id="installation_soil_n_content" name="installation_soil_n_content" placeholder="" step="0.001" />
                                <p class="help-text">
                                    lbs N/ton soil
                                </p>
                            </div>
                            <div class="column-4">
                                <label for="installation_soil_p_content" class="control-label">
                                    Soil P Content
                                </label>

                                <input type="number" class="form-control" data-ng-model="page.modelInputs.installation_soil_p_content" id="installation_soil_p_content" name="installation_soil_p_content" placeholder="" step="0.001" />
                                <p class="help-text">
                                    lbs P/ton soil
                                </p>
                            </div>
                        </div>
                    </div>

                </fieldset>

                <!-- INTERIM METRICS -->
                <fieldset data-ng-if="page.modelInputs.measurement_period === 'Monitoring'">

                    <h2>
                        <strong>Interim</strong> Metrics
                    </h2>

                    <div class="form-group">
                        <div class="row nested-row">
                            <div class="column-8">
                                <label for="metrics_bank_erosion_hazard_index_rating" class="control-label">
                                    Bank Erosion Hazard Index (BEHI) Rating
                                </label>

                                <input type="number" class="form-control" data-ng-model="page.modelInputs.metrics_bank_erosion_hazard_index_rating" id="metrics_bank_erosion_hazard_index_rating" name="metrics_bank_erosion_hazard_index_rating" placeholder="" />
                            </div>
                            <div class="column-8">
                                <label for="metrics_near_bank_stress_rating" class="control-label">
                                    Near Bank Stress (NBS) Rating
                                </label>

                                <input type="number" class="form-control" data-ng-model="page.modelInputs.metrics_near_bank_stress_rating" id="metrics_near_bank_stress_rating" name="metrics_near_bank_stress_rating" placeholder="" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row nested-row">
                            <div class="column-4">
                                <label for="metrics_riffle_stability_index" class="control-label">
                                    Riffle Stability Index
                                </label>

                                <input type="number" class="form-control" data-ng-model="page.modelInputs.metrics_riffle_stability_index" id="metrics_riffle_stability_index" name="metrics_riffle_stability_index" placeholder="" step="0.0001" />
                            </div>
                            <div class="column-4">
                                <label for="metrics_logarithm_of_relative_bed_stability" class="control-label">
                                    Logarithm of Relative Bed Stability
                                </label>

                                <input type="number" class="form-control" data-ng-model="page.modelInputs.metrics_logarithm_of_relative_bed_stability" id="metrics_logarithm_of_relative_bed_stability" name="metrics_logarithm_of_relative_bed_stability" placeholder="" step="0.0001" />
                            </div>

                            <div class="column-4">
                                <label for="metrics_substrate_mean_particle_size" class="control-label">
                                    Substrate Mean Particle Size (D50)
                                </label>

                                <input type="number" class="form-control" data-ng-model="page.modelInputs.metrics_substrate_mean_particle_size" id="metrics_substrate_mean_particle_size" name="metrics_substrate_mean_particle_size" placeholder="" step="0.0001" />
                            </div>
                            <div class="column-4">
                                <label for="metrics_streambed_percent_fines" class="control-label">
                                    Streambed Percent Fines
                                </label>

                                <input type="number" class="form-control" data-ng-model="page.modelInputs.metrics_streambed_percent_fines" id="metrics_streambed_percent_fines" name="metrics_streambed_percent_fines" placeholder="" step="0.0001" />
                            </div>
                        </div>
                    </div>

                </fieldset>

                <!-- ADAPTIVE MANAGEMENT PRACTICES -->
                <fieldset data-ng-if="page.modelInputs.measurement_period === 'Monitoring'">

                    <h2>
                        <strong>Adaptive Management</strong> Practices
                    </h2>

                    <div class="form-group">
                        <div class="checkbox">
                            <label for="monitoring_design_criteria_1" class="control-label">
                                <input type="checkbox" data-ng-model="page.modelInputs.monitoring_design_criteria_1" id="monitoring_design_criteria_1" name="monitoring_design_criteria_1" />
                                Step pools, floodplain re-connection, or other built elements should have photos or site inspections to document that design elements were followed by contractors and disturbance to the riparian zone was minimized. No trees should be removed unless absolutely essential. Banks with riparian vegetation should not be re-graded, but the channel invert raised instead.
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="checkbox">
                            <label for="monitoring_design_criteria_2" class="control-label">
                                <input type="checkbox" data-ng-model="page.modelInputs.monitoring_design_criteria_2" id="monitoring_design_criteria_2" name="monitoring_design_criteria_2" />
                                Built elements match design in extent, placement, and type of material - should be reassessed after a 10-yr or greater event.
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="checkbox">
                            <label for="monitoring_design_criteria_3" class="control-label">
                                <input type="checkbox" data-ng-model="page.modelInputs.monitoring_design_criteria_3" id="monitoring_design_criteria_3" name="monitoring_design_criteria_3" />
                                Coir logs, woody debris additions, or other natural structural elements meet all design specifications.
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="checkbox">
                            <label for="monitoring_hydraulic" class="control-label">
                                <input type="checkbox" data-ng-model="page.modelInputs.monitoring_hydraulic" id="monitoring_hydraulic" name="monitoring_hydraulic" />
                                Have any rills or gullies developed along the restored bank?
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="checkbox">
                            <label for="monitoring_geomorphic_1" class="control-label">
                                <input type="checkbox" data-ng-model="page.modelInputs.monitoring_geomorphic_1" id="monitoring_geomorphic_1" name="monitoring_geomorphic_1" />
                                Have livestock been kept off of restored areas?
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="checkbox">
                            <label for="monitoring_geomorphic_2" class="control-label">
                                <input type="checkbox" data-ng-model="page.modelInputs.monitoring_geomorphic_2" id="monitoring_geomorphic_2" name="monitoring_geomorphic_2" />
                                Have plantings been protected from destructive fire and destructive grazing?
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="checkbox">
                            <label for="monitoring_geomorphic_3" class="control-label">
                                <input type="checkbox" data-ng-model="page.modelInputs.monitoring_geomorphic_3" id="monitoring_geomorphic_3" name="monitoring_geomorphic_3" />
                                Have bare and/or eroded areas appeared in the buffer?
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="checkbox">
                            <label for="monitoring_geomorphic_4" class="control-label">
                                <input type="checkbox" data-ng-model="page.modelInputs.monitoring_geomorphic_4" id="monitoring_geomorphic_4" name="monitoring_geomorphic_4" />
                                Have noxious weeds and invasive species appeared which have changed the desired species mix? If so, see Sellner et al., 2012, p.106.
                            </label>
                        </div>
                    </div>

                </fieldset>

                <!-- NOTES -->
                <fieldset data-ng-if="page.modelInputs.measurement_period === 'Planning' || page.modelInputs.measurement_period === 'Installation' || page.modelInputs.measurement_period === 'Monitoring'">
                    <h2><strong>Notes</strong></h2>

                    <div class="form-group">
                        <textarea rows="1" data-ng-model="page.modelInputs.notes" class="form-control animate" msd-elastic id="notes" name="notes" placeholder="Notes">{{ page.modelInputs.notes }}</textarea>
                    </div>

                </fieldset>

                <div class="form-actions">
                    <button type="submit" class="button button-submit">
                        Save Changes
                    </button>
                    <button type="button" data-ng-click="page.deleteReport()" class="button button-submit">
                        Delete
                    </button>
                </div>

            </div>
        </article>
    </form>
</main>

<div data-ng-include="'/templates/footer--view.html'"></div>