<form data-ng-submit="page.saveInputs()" class="form" role="form">

    <article class="feature-detail">

        <div class="feature-detail-content">

            <fieldset>

                <h2>
                    Installation Summary
                </h2>

                <div class="row">

                    <div class="form-group column-8">

                        <label for="bioretention_impervious_area" class="control-label">
                            Area Draining to the Practice (Impervious Area)
                        </label>

                        <input data-ng-model="page.modelInputs.installation_bioretention_impervious_area" class="form-control" class="form-control" type="number" id="bioretention_impervious_area" name="bioretention_impervious_area" />

                        <p class="help-text">
                            sq ft
                        </p>

                    </div>

                </div>

                <div class="row">

                    <div class="form-group column-8">

                        <label for="bioretention_total_drainage_area" class="control-label">
                            Total Drainage Area
                        </label>

                        <input data-ng-model="page.modelInputs.installation_bioretention_total_drainage_area" class="form-control" class="form-control" type="number" id="bioretention_total_drainage_area" name="bioretention_total_drainage_area" />

                        <p class="help-text">
                            sq ft
                        </p>

                    </div>

                </div>

                <div class="row">

                    <div class="form-group column-8">

                        <label for="rainfall_depth_treated" class="control-label">
                            Rainfall Depth Treated
                        </label>

                        <input data-ng-model="page.modelInputs.installation_rainfall_depth_treated" class="form-control" class="form-control" type="number" id="rainfall_depth_treated" name="rainfall_depth_treated" step="0.0001" />

                        <p class="help-text">
                            in
                        </p>

                    </div>

                </div>

                <div class="row">

                    <div class="form-group column-8">

                        <label for="bioretention_practice_area" class="control-label">
                            Practice Area
                        </label>

                        <input data-ng-model="page.modelInputs.installation_bioretention_practice_area" class="form-control" class="form-control" type="number" id="bioretention_practice_area" name="bioretention_practice_area" />

                        <p class="help-text">
                            sq ft
                        </p>

                    </div>

                </div>

            </fieldset>

            <fieldset>

                <h2>
                    Interim Metric Data
                </h2>

                <div class="form-group column-5">

                    <label for="bird_count" class="control-label">
                        Number of observed bird or small animal species
                    </label>

                    <input data-ng-model="page.modelInputs.monitoring_bird_count" class="form-control" class="form-control" type="number" id="bird_count" name="bird_count" />

                </div>

            </fieldset>

            <div class="form-actions">

                <button type="submit" class="button button-submit">
                    Save Changes
                </button>

                <button type="button" data-ng-click="page.deleteReport()" class="button button-submit">
                    Delete
                </button>

            </div>

        </div>

    </article>

</form>