<div data-ng-include="'/templates/header--view.html'"></div>

<main class="container">
    <form data-ng-submit="page.saveReport()" class="row feature summary">
        <article class="feature-detail">
            <div class="column-16 feature-detail-content">

                <!-- Practice Information -->
                <fieldset>

                    <!-- Report Date -->
                    <div class="form-group column-8">
                        <label for="report_date" class="control-label">
                            Report Date
                        </label>

                        <input data-ng-model="page.modelInputs.report_date" class="form-control" type="text" id="report_date" name="report_date" placeholder="Enter a date" />
                    </div>

                    <!-- Measurement Period -->
                    <div class="form-group column-8">
                        <label for="measurement_period" class="control-label">
                            Measurement Period
                        </label>

                        <select class="form-control" data-ng-disabled="page.modelInputs.measurement_period === 'Pre-Project'" data-ng-model="page.modelInputs.measurement_period" id="measurement_period" name="measurement_period">
                            <option value="Pre-Project">Pre-Project</option>
                            <option value="Planning">Planning</option>
                            <option value="Installation">Installation</option>
                            <option value="Monitoring">Monitoring</option>
                        </select>
                    </div>

                    <!-- WIP Reporting Agency -->
                    <div class="form-group column-8" data-ng-if="page.modelInputs.measurement_period === 'Planning'">
                        <label for="wip_reporting_agency" class="control-label">
                            WIP Reporting Agency
                        </label>

                        <select class="form-control" data-ng-model="page.modelInputs.wip_reporting_agency" id="wip_reporting_agency" name="wip_reporting_agency">
                            <option value="DC District Department of the Environment">DC District Department of the Environment</option>
                            <option value="Delaware Department of Natural Resources and Environmental Control">Delaware Department of Natural Resources and Environmental Control</option>
                            <option value="Maryland Department of Natural Resources">MD Department of Natural Resources</option>
                            <option value="Maryland Department of the Environment">MD Department of the Environment</option>
                            <option value="Maryland Department of Agriculture">MD Department of Agriculture</option>
                            <option value="New York Department of Environmental Conservation">New York Department of Environmental Conservation</option>
                            <option value="Pennsylvania Department of Environmental Protection">Pennsylvania Department of Environmental Protection</option>
                            <option value="Virginia Department of Conservation and Recreation">Virginia Department of Conservation and Recreation</option>
                            <option value="West Virginia Department of Environmental Protection">West Virginia Department of Environmental Protection</option>
                        </select>
                    </div>

                </fieldset>

                <fieldset>
                    <div class="form-group column-8" data-ng-if="page.modelInputs.measurement_period === 'Pre-Project' || page.modelInputs.measurement_period === 'Planning' || page.modelInputs.measurement_period === 'Installation'">

                        <p>
                            Project Design Completion Percentage (%)
                        </p>

                        <div class="form-group column-8">

                            <label for="has_majority_design_completion_false" class="control-label control-label-radios">
                                <input data-ng-model="page.modelInputs.has_majority_design_completion" type="radio" data-ng-value="false" class="form-control" id="has_majority_design_completion_false" name="has_majority_design_completion_false" />Less than 90% designed
                            </label>


                            <label for="has_majority_design_completion_true" class="control-label control-label-radios">
                                <input data-ng-model="page.modelInputs.has_majority_design_completion" type="radio" data-ng-value="true" class="form-control" id="has_majority_design_completion_true" name="has_majority_design_completion_true" />Greater than 90% designed
                            </label>
                        </div>
                    </div>
                    <div class="form-group column-16">
                        <p class="help-text">
                            How far along are you with your stream restoration design at the time of entering values into FieldDoc? Do not select the percentage of design completion you anticipate at project start time. Also, if you are less than 90% designed you are required to add the "InStream Habitat" BMP to your site, and you are highly encouraged to add "InStream Habitat" to sites over 90% designed. Per the expert panel report, as the inputs for enhanced stream restoration require engineered specifications, only those proposals that are at least 90% designed can use Protocols 1, 2 and 3.
                        </p>
                    </div>
                </fieldset>

                <div data-ng-if="page.modelInputs.has_majority_design_completion === false && page.modelInputs.measurement_period">
                    <h2><strong>Installation</strong> Summary</h2>

                    <div class="form-group column-5">
                        <label for="override_linear_feet_in_coastal_plain" class="control-label">
                            Linear Feet in Coastal Plain
                        </label>

                        <input data-ng-model="page.modelInputs.override_linear_feet_in_coastal_plain" type="number" id="override_linear_feet_in_coastal_plain" name="override_linear_feet_in_coastal_plain" class="form-control" step="0.001" data-ng-change="page.change.updateTotal()" />

                        <p class="help-text">linear feet</p>
                    </div>

                    <div class="form-group column-5">
                        <label for="override_linear_feet_in_noncoastal_plain" class="control-label">
                            Linear Feet in Non-Coastal Plain
                        </label>

                        <input data-ng-model="page.modelInputs.override_linear_feet_in_noncoastal_plain" type="number" id="override_linear_feet_in_noncoastal_plain" name="override_linear_feet_in_noncoastal_plain" class="form-control" step="0.001" data-ng-change="page.change.updateTotal()" />

                        <p class="help-text">linear feet</p>
                    </div>

                    <div class="form-group column-6">
                        <label for="override_linear_feet_in_total" class="control-label">
                            Total Linear Feet
                        </label>

                        <input data-ng-model="page.modelInputs.override_linear_feet_in_total" type="number" id="override_linear_feet_in_total" name="override_linear_feet_in_total" class="form-control" step="0.001" data-ng-disabled="true" />

                        <p class="help-text">linear feet</p>
                    </div>
                </div>

                <div data-ng-if="page.modelInputs.has_majority_design_completion === true">
                    <!-- Installation Summary -->
                    <fieldset data-ng-if="page.modelInputs.measurement_period === 'Pre-Project' || page.modelInputs.measurement_period === 'Planning' || page.modelInputs.measurement_period === 'Installation'">
                        <h2><strong>Installation</strong> Summary</h2>

                        <p>
                            Protocol 2: In-Stream and Riparian Nutrient Processing Credit within the Hyporheic Zone during Base Flow
                        </p>

                        <div class="form-group column-8">
                            <label for="stream_width_at_bankfull" class="control-label">
                                Stream Width at Bankfull
                            </label>

                            <input data-ng-model="page.modelInputs.stream_width_at_bankfull" class="form-control" class="form-control" type="number" id="stream_width_at_bankfull" name="stream_width_at_bankfull" step="0.0001" />

                            <p class="help-text">feet</p>
                        </div>
                        <div class="form-group column-8">
                            <label for="stream_width_at_mean_base_flow" class="control-label">
                                Stream Width at Mean Base flow
                            </label>

                            <input data-ng-model="page.modelInputs.stream_width_at_mean_base_flow" class="form-control" class="form-control" type="number" id="stream_width_at_mean_base_flow" name="stream_width_at_mean_base_flow" step="0.0001" />

                            <p class="help-text">feet</p>
                        </div>

                        <!-- Left Bank Metrics -->
                        <div class="form-group column-5" data-ng-if="page.modelInputs.measurement_period !== 'Pre-Project'">
                            <label for="length_of_left_bank_with_improved_connectivity" class="control-label">
                                Length of Left Bank with Improved Connectivity
                            </label>

                            <input data-ng-model="page.modelInputs.length_of_left_bank_with_improved_connectivity" class="form-control" class="form-control" type="number" id="length_of_left_bank_with_improved_connectivity" name="length_of_left_bank_with_improved_connectivity" step="0.0001" />

                            <p class="help-text">feet</p>
                        </div>

                        <div class="form-group column-5">
                            <label for="project_left_bank_height" class="control-label">
                                Project Left Bank Height
                            </label>

                            <input data-ng-model="page.modelInputs.project_left_bank_height" class="form-control" class="form-control" type="number" id="project_left_bank_height" name="project_left_bank_height" step="0.0001" />

                            <p class="help-text">feet</p>
                        </div>

                        <div class="form-group column-5">
                            <label for="left_bank_bankfull_height" class="control-label">
                                Left Bank Bankfull Height
                            </label>

                            <input data-ng-model="page.modelInputs.left_bank_bankfull_height" class="form-control" class="form-control" type="number" id="left_bank_bankfull_height" name="left_bank_bankfull_height" step="0.0001" />

                            <p class="help-text">feet</p>
                        </div>

                        <!-- Right Bank Metrics -->
                        <div class="form-group column-5" data-ng-if="page.modelInputs.measurement_period !== 'Pre-Project'">
                            <label for="length_of_right_bank_with_improved_connectivity" class="control-label">
                                Length of Right Bank with Improved Connectivity
                            </label>

                            <input data-ng-model="page.modelInputs.length_of_right_bank_with_improved_connectivity" class="form-control" class="form-control" type="number" id="length_of_right_bank_with_improved_connectivity" name="length_of_right_bank_with_improved_connectivity" step="0.0001" />

                            <p class="help-text">feet</p>
                        </div>

                        <div class="form-group column-5">
                            <label for="project_right_bank_height" class="control-label">
                                Project Right Bank Height
                            </label>

                            <input data-ng-model="page.modelInputs.project_right_bank_height" class="form-control" class="form-control" type="number" id="project_right_bank_height" name="project_right_bank_height" step="0.0001" />

                            <p class="help-text">feet</p>
                        </div>

                        <div class="form-group column-5">
                            <label for="right_bank_bankfull_height" class="control-label">
                                Right Bank Bankfull Height
                            </label>

                            <input data-ng-model="page.modelInputs.right_bank_bankfull_height" class="form-control" class="form-control" type="number" id="right_bank_bankfull_height" name="right_bank_bankfull_height" step="0.0001" />

                            <p class="help-text">feet</p>
                        </div>

                        <div class="form-group column-5">
                            <label for="bulk_density_of_soil_in_hyporheic_zone" class="control-label">
                                Bulk Density of Soil in Hyporheic Zone
                            </label>

                            <input data-ng-model="page.modelInputs.bulk_density_of_soil_in_hyporheic_zone" class="form-control" class="form-control" type="number" id="bulk_density_of_soil_in_hyporheic_zone" name="bulk_density_of_soil_in_hyporheic_zone" step="0.0001" />

                            <p class="help-text">lbs/ft<sup>3</sup></p>
                        </div>
                    </fieldset>

                    <fieldset data-ng-if="page.modelInputs.measurement_period === 'Pre-Project' || page.modelInputs.measurement_period === 'Planning' || page.modelInputs.measurement_period === 'Installation'">
                        <p>
                            Protocol 3: Floodplain Reconnection Volume Credit
                        </p>
                        <div class="form-group column-4" data-ng-if="page.modelInputs.measurement_period !== 'Pre-Project'">
                            <label for="stream_length_reconnected_at_floodplain" class="control-label">
                                Stream Length Reconnected at Floodplain
                            </label>

                            <input data-ng-model="page.modelInputs.stream_length_reconnected_at_floodplain" class="form-control" class="form-control" type="number" id="stream_length_reconnected_at_floodplain" name="stream_length_reconnected_at_floodplain" step="0.0001" />

                            <p class="help-text">feet</p>
                        </div>
                        <div class="form-group column-4" data-ng-if="page.modelInputs.measurement_period !== 'Pre-Project'">
                            <label for="connected_floodplain_surface_area" class="control-label">
                                Connected Floodplain Surface Area
                            </label>

                            <input data-ng-model="page.modelInputs.connected_floodplain_surface_area" class="form-control" class="form-control" type="number" id="connected_floodplain_surface_area" name="connected_floodplain_surface_area" step="0.0000000001" />

                            <p class="help-text">acres</p>
                        </div>

                        <div class="form-group column-4" data-ng-if="page.modelInputs.measurement_period !== 'Pre-Project'">
                            <label for="watershed_impervious_area" class="control-label">
                                Watershed Impervious Area
                            </label>

                            <input data-ng-model="page.modelInputs.watershed_impervious_area" class="form-control" class="form-control" type="number" id="watershed_impervious_area" name="watershed_impervious_area" step="0.0001" />

                            <p class="help-text">acres</p>
                        </div>

                        <div class="form-group column-4" data-ng-if="page.modelInputs.measurement_period !== 'Pre-Project'">
                            <label for="watershed_pervious_area" class="control-label">
                                Watershed Pervious Area
                            </label>

                            <input data-ng-model="page.modelInputs.watershed_pervious_area" class="form-control" class="form-control" type="number" id="watershed_pervious_area" name="watershed_pervious_area" step="0.0001" />

                            <p class="help-text">acres</p>
                        </div>
                        <div class="form-group column-4">
                            <label for="rainfall_depth_where_connection_occurs" class="control-label">
                                Fraction of Runoff Carried in the Channel
                            </label>

                            <input data-ng-model="page.modelInputs.rainfall_depth_where_connection_occurs" class="form-control" class="form-control" type="number" id="rainfall_depth_where_connection_occurs" name="rainfall_depth_where_connection_occurs" step="0.0001" />

                            <p class="help-text">Floodplain Access</p>
                        </div>
                        <div class="form-group column-4">
                            <label for="floodplain_connection_volume" class="control-label">
                                Fraction of Runoff Treated in the Floodplain
                            </label>

                            <input data-ng-model="page.modelInputs.floodplain_connection_volume" class="form-control" class="form-control" type="number" id="floodplain_connection_volume" name="floodplain_connection_volume" step="0.0001" />

                            <p class="help-text">
                                Floodplain treated
                            </p>
                        </div>
                    </fieldset>

                    <!-- Interim BMP Metrics Data-->
                    <fieldset data-ng-if="page.modelInputs.measurement_period === 'Monitoring'">
                        <h2><strong>Interim</strong> BMP Metrics Data</h2>
                        <p>
                            Hydrologic
                        </p>

                        <div class="form-group column-8">
                            <label for="mean_annual_bankfull_flow" class="control-label">
                                Mean Annual Bankfull Flow
                            </label>

                            <input data-ng-model="page.modelInputs.mean_annual_bankfull_flow" class="form-control" class="form-control" type="number" id="mean_annual_bankfull_flow" name="mean_annual_bankfull_flow" step="0.0001" />

                            <p class="help-text"></p>
                        </div>
                        <div class="form-group column-8">
                            <label for="monthly_flow_frequency_probability_plot" class="control-label">
                                Monthly Flow Frequency Probability Plot
                            </label>

                            <input data-ng-model="page.modelInputs.monthly_flow_frequency_probability_plot" class="form-control" class="form-control" type="text" id="monthly_flow_frequency_probability_plot" name="monthly_flow_frequency_probability_plot" />

                            <p class="help-text"></p>
                        </div>
                    </fieldset>
                    <fieldset data-ng-if="page.modelInputs.measurement_period === 'Monitoring'">
                        <p>
                            Hydraulic
                        </p>

                        <div class="form-group column-8">
                            <label for="number_of_overbank_flows_per_year" class="control-label">
                                Number of Over-bank Flows per Year
                            </label>

                            <input data-ng-model="page.modelInputs.number_of_overbank_flows_per_year" class="form-control" class="form-control" type="number" id="number_of_overbank_flows_per_year" name="number_of_overbank_flows_per_year" step="0.0001" />
                        </div>
                    </fieldset>
                    <fieldset data-ng-if="page.modelInputs.measurement_period === 'Monitoring'">
                        <p>
                            Riparian Vegetation
                        </p>

                        <div class="form-group column-4">
                            <label for="left_bank_vegetative_protection" class="control-label">
                                Left Bank Vegetative Protection
                            </label>

                            <input data-ng-model="page.modelInputs.left_bank_vegetative_protection" class="form-control" class="form-control" type="number" id="left_bank_vegetative_protection" name="left_bank_vegetative_protection" step="0.0001" />
                        </div>
                        <div class="form-group column-4">
                            <label for="left_bank_riparian_vegetative_zone_width" class="control-label">
                                Left Bank Riparian Vegetative Zone Width
                            </label>

                            <input data-ng-model="page.modelInputs.left_bank_riparian_vegetative_zone_width" class="form-control" class="form-control" type="number" id="left_bank_riparian_vegetative_zone_width" name="left_bank_riparian_vegetative_zone_width" step="0.0001" />
                        </div>

                        <div class="form-group column-4">
                            <label for="right_bank_vegetative_protection" class="control-label">
                                Right Bank Vegetative Protection
                            </label>

                            <input data-ng-model="page.modelInputs.right_bank_vegetative_protection" class="form-control" class="form-control" type="number" id="right_bank_vegetative_protection" name="right_bank_vegetative_protection" step="0.0001" />
                        </div>
                        <div class="form-group column-4">
                            <label for="right_bank_riparian_vegetative_zone_width" class="control-label">
                                Right Bank Riparian Vegetative Zone Width
                            </label>

                            <input data-ng-model="page.modelInputs.right_bank_riparian_vegetative_zone_width" class="form-control" class="form-control" type="number" id="right_bank_riparian_vegetative_zone_width" name="right_bank_riparian_vegetative_zone_width" step="0.0001" />
                        </div>
                    </fieldset>

                    <!-- Adaptive Management Checks -->
                    <fieldset data-ng-if="page.modelInputs.measurement_period === 'Monitoring'">
                        <h2><strong>Adaptive</strong> Management Checks Performed</h2>

                        <div class="form-group">
                            <div class="checkbox">
                                <label class="control-label">
                                    <input data-ng-model="page.modelInputs.adaptive_management_hydrologic" type="checkbox" id="adaptive_management_hydrologic" name="adaptive_management_hydrologic" /> Does discharge need to be adjusted through dam management, channel adjustments, or riparian plantings? If so, see Sellner et al., 2012, p.101.
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="checkbox">
                                <label class="control-label">
                                    <input data-ng-model="page.modelInputs.adaptive_management_hydraulic" type="checkbox" id="adaptive_management_hydraulic" name="adaptive_management_hydraulic" /> Is overland accretion occurring? If so, see Sellner et al., 2012, p.103.
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="checkbox">
                                <label class="control-label">
                                    <input data-ng-model="page.modelInputs.adaptive_management_riparian_vegetation" type="checkbox" id="adaptive_management_riparian_vegetation" name="adaptive_management_riparian_vegetation" /> Protocol 2 requires adequate riparian plant establishment to provide a carbon source for de-nitrification.
                                </label>
                            </div>
                        </div>

                    </fieldset>
                </div>

                <!-- Notes -->
                <fieldset data-ng-if="page.modelInputs.measurement_period === 'Planning' || page.modelInputs.measurement_period === 'Installation' || page.modelInputs.measurement_period === 'Monitoring'">
                    <h2><strong>Notes</strong></h2>

                    <div class="form-group">
                        <textarea rows="1" data-ng-model="page.modelInputs.notes" class="form-control animate" msd-elastic id="notes" name="notes" placeholder="Notes">{{ page.modelInputs.notes }}</textarea>
                    </div>

                </fieldset>

                <div class="form-actions">
                    <button type="submit" class="button button-submit">
                        Save Changes
                    </button>
                    <button type="button" data-ng-click="page.deleteReport()" class="button button-submit">
                        Delete
                    </button>
                </div>

            </div>
        </article>
    </form>
</main>

<div data-ng-include="'/templates/footer--view.html'"></div>